<%= turbo_frame_tag "list", class: "w-100 max-w-300" do %>

  <%= render partial: "company_admin/shared/status_selector", locals: {statuses: EmployeeApplication.clean_statuses, scope: employee_applications} %>

  <div class="mb-40">
    <% employee_applications.each do |demand| %>
      <div class="mb-10 w-100 flex-center-between">
        <%= link_to company_admin_employee_application_path(demand, status: params[:status]), class: "w-100 h-100 flex-center-between p-10 bg-shade", data: {turbo: false, active_card: demand == @employee_application} do %>
          <div class="pe-none">
            <h6><%= "#{demand.user.first_name} #{demand.user.last_name}" %></h6>
            <p><%= demand.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <% case  %>
          <% when demand.revoked_status? %>
            <i class="fa-solid fa-circle-minus text-grey-light"></i>
          <% when demand.rejected_status? %>
            <i class="fa-solid fa-circle-xmark text-flag-2"></i>
          <% when demand.approved_status? %>
            <i class="fa-solid fa-circle-check text-flag-3"></i>
          <% when demand.pending_status? %>
            <i class="fa-solid fa-circle-question text-flag-1"></i>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
