<%= render partial: "company_admin/shared/demands_tabs" %>

<div class="d-flex">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div>
    <div class="pl-40 w-100 max-w-400">
      <h5 class="text-main mb-20 fw-6">Demande d'éligibilité refusée</h5>

      <%= render partial: "summary", locals: {employee_application: @employee_application}  %>

      <h6>Votre réponse :</h6>
      <p class="mb-40"><i>"<%= @employee_application.response_msg %>"</i></p>

      <% if @employee_application.rejected_status? && @employee_application.last? %>
        <h6>Refusé par erreur ?</h6>
        <p class="mb-20">Vous pouvez encore revenir en arrière</p>
        <div class="max-w-300 w-100 center-margin">
          <%= simple_form_for(@employee_application, url: company_admin_employee_application_path(@employee_application), action: :update, data: {turbo: false}) do |f| %>
            <div class="xl-radio-btns position-relative mb-20">
              <%= f.collection_radio_buttons :status, [["accepter", "approved"], ["en attente", "pending"]], :last, :first do |b|
                b.radio_button(class: (b.value == "approved" ? 'flag-3-radio' : 'flag-1-radio' ))  + b.label
              end %>
              <%= f.error :status, class: "invalid-msg" %>
            </div>
            <div class="position-relative mb-30">
              <%= f.input :response_msg,
                          label: false,
                          wrapper: false,
                          placeholder: "Votre message de réponse" %>
            </div>
            <button type="submit" class="button btn-main-color center-margin">Enregistrer</button>
          <% end %>
        </div>
      <% else %>
        <h6>Vous ne pouvez plus modifier cette demande</h6>
        <% if @employee_application.candidate.user.last_employee_application.pending_status? %>
          <p class="mb-20"><%= @employee_application.candidate.user.first_name %> a depuis formulé une nouvelle <%= link_to "demande", company_admin_employee_application_path(@employee_application.candidate.user.last_employee_application, status: "pending"), class: "fw-7 text-main" %></p>
        <% else %>
          <p class="mb-20"><%= @employee_application.candidate.user.first_name %> a eu une <%= link_to "demande", company_admin_employee_application_path(@employee_application.candidate.user.last_employee_application, status: @employee_application.candidate.user.last_employee_application.status), class: "fw-7 text-main" %> ultérieure validée</p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
