<div class="mb-20">
  <%= render partial: "tabs", locals: {employee_applications: @employee_applications, active: 0} %>
</div>

<div class="d-flex">
  <%= render partial: "list", locals: {employee_applications: @employee_applications} %>
  <div>
    <div class="ml-40 w-100">
      <div class="w-100" data-controller="popup">
        <div class="mb-20">
          <h5 class="text-main mb-20 fw-6">Demande d'éligibilité en attente de réponse</h5>
          <%= render partial: "summary", locals: {employee_application: @employee_application}  %>
        </div>

        <div class="w-100 flex-center-between">
          <%= link_to "Approuver","", class: "button w-100 bg-flag-3 mr-10 text-white", data: {pop_up_id: 1, action: "click->popup#open"} %>
          <%= link_to "Rejeter","", class: "button w-100 bg-flag-2 ml-10 text-white", data: {pop_up_id: 2, action: "click->popup#open"} %>
        </div>

        <%= render partial: "accept" %>
        <%= render partial: "reject" %>

      </div>
    </div>
  </div>
</div>
