<div class="mb-40 position-sticky top50 border-b-light shadow-xs">
  <div data-search-form-target="filters" class="search-filters-ctn">
    <%= form_tag request.path, method: :get, data: {turbo_frame: "index", search_form_target: 'form', action: 'change->search-form#result' } do %>
      <div class="flex-between p-20 md-resp-flex-col">
        <div class="w-100 md-resp-mb-10">
          <h6 class="fw-5 fs-15 mb-10">Missions</h6>
          <div class="input-with-icon mb-10 position-relative">
            <%= select_tag :function, options_for_select(@active_functions, params[:function]), include_blank: "Toutes compétences", class: 'input-form pill-dropdown', data: { search_form_target: 'select'}, selected: params[:function] %>
            <i class="fa-solid fa-angle-down pe-none"></i>
          </div>
          <div class="flex-center-left">
            <%= label_tag :random, 'Thématique', class:"mr-20" %>
            <div class="pill-ctn">
              <%= check_box_tag :social, 1, params[:social], hidden: true %>
              <%= label_tag :social, 'Société' %>
              <%= check_box_tag :environment, 1, params[:environment], hidden: true %>
              <%= label_tag :environment, 'Environnement' %>
            </div>
          </div>
        </div>
        <div class="ml-20 mr-20 md-resp-m-0 w-100">
          <h6 class="fw-5 fs-15 mb-10">Localisation</h6>
          <div class="input-with-icon mb-10 position-relative">
            <%= select_tag :region, options_for_select(@active_regions, params[:region]), include_blank: "Toutes régions", class: 'input-form pill-dropdown', data: { search_form_target: 'select'}, selected: params[:region] %>
            <i class="fa-solid fa-angle-down pe-none"></i>
          </div>
          <div class="flex-center-left position-relative">
            <%= check_box_tag :full_remote, 1, params[:full_remote], class: "toggle" %>
            <%= label_tag :full_remote, '100% distanciel' %>
          </div>
        </div>
        <% if current_user.company_admin? %>
          <div>
            <h6 class="fw-5 fs-15 mb-10">Disponibilités</h6>
            <div class="flex-center-left slider-ctn mb-10" data-controller="slider" data-slider-type="frequency">
              <div class="flex-center-between">
                <%= range_field_tag :frequency, nil, within: 1..3, class: 'slider', data:{'slider-target': "input", 'action': "input->slider#update", search_form_target: 'slider'}, value: params[:frequency].present? ? params[:frequency] : 3 %>
              </div>
              <p class="ml-10 text-end" ><span data-slider-target="output" class="no-wrap fw-6 text-main">-</span></p>
            </div>
            <div class="flex-center-left slider-ctn" data-controller="slider" data-slider-type="duration">
              <div class="flex-center-between">
                <%= range_field_tag :duration, nil, within: 1..3, class: 'slider', data:{'slider-target': "input", 'action': "input->slider#update", search_form_target: 'slider'}, value: params[:duration].present? ? params[:duration] : 3 %>
              </div>
              <p class="ml-10 text-end" ><span data-slider-target="output" class="no-wrap fw-6 text-main">-</span></p>
            </div>
          </div>
        <% end %>
        <%= submit_tag "", hidden: "true", data: { search_form_target: 'submitbtn' } %>
      </div>
    <% end %>
  </div>
  <button class="search-filters-btn flex-center bn-none round" data-search-form-target="btn" data-action="click->search-form#toggle">
    <i class="fa-solid fa-filter position-relative">
      <span data-search-form-target="counter" class="invisible"></span>
    </i>
  </button>
</div>
