<%= render partial: "shared/navpan", locals: {active: 1} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Associations bénéficiaires</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">
    <%= simple_form_for(@beneficiary) do |f| %>
      <div class="sticky-admin-nav d-flex justify-content-between white-bg pt-3 pb-3">
        <%= link_to "Retour", admin_beneficiaries_path, class:"button btn-light-main me-3" %>
        <button type="submit" class="button btn-main-color">Enregistrer</button>
      </div>

      <h6 class="primary-text-color">Informations principales</h6>
      <%= f.input :name %>
      <%= f.input :city, label: 'Ville (siège)' %>
      <%= f.input :goal, collection: Beneficiary::GOALS %>
      <%= f.input :cause %>
      <%= f.input :web_url, label: 'Lien site web' %>
      <%= f.input :li_url, label: 'Lien LinkedIn' %>

      <%= f.input :description, as: :rich_text_area %>

      <h6 class="primary-text-color">Elements visuels</h6>
      <%= f.input :logo, as: :file %>
      <% if @beneficiary.logo.attached? %>
        <%= cl_image_tag @beneficiary.logo.key, height: 100, width: 100, crop: :fill %>
      <% else %>
        <p>pas de logo associé</p>
      <% end %>

      <%= f.input :photo, as: :file %>
      <% if @beneficiary.photo.attached? %>
        <%= cl_image_tag @beneficiary.photo.key, height: 300, width: 800, crop: :fill %>
      <% else %>
        <p>pas de photo associée</p>
      <% end %>

      <h6 class="primary-text-color mt-5">Informations secondaires</h6>
      <%= f.input :siren %>
      <%= f.input :rna %>
      <%= f.input :address %>

    <% end %>

  </div>
</div>
