<%= render partial: "shared/navpan", locals: {active: 1} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
  <h3>Associations bénéficiaires</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">

    <div>
      <div class="sticky-admin-nav d-flex white-bg pt-3 pb-3">
        <%= link_to "+ Ajouter", new_admin_beneficiary_path, class:"button btn-main-color" %>
      </div>
      <table class="tw-table">
        <thead>
          <tr>
            <th>id</th>
            <th class="center-text">Actions</th>
            <th>Association</th>
            <th>Objectif</th>
            <th>Cause</th>
            <th>Photos</th>
            <th>Long desc</th>
            <th>Profil open</th>
            <th>Logo partner</th>
            <th class="center-text">Offres</th>
          </tr>
        </thead>
        <tbody>
          <% @beneficiaries.each do |b| %>
            <tr>
              <td><%= b.id %></td>
              <td>
                <div class="d-flex justify-content-evenly">
                <%= link_to(beneficiary_path(b), target: "_blank") do %>
                  <i class="fa-solid fa-eye primary-text-color"></i>
                <% end %>
                <%= link_to edit_admin_beneficiary_path(b) do %>
                  <i class="fa-solid fa-pen-to-square primary-text-color"></i>
                <% end %>
                <%= link_to beneficiary_path(b), data: {turbo_method: :delete, turbo_confirm: "Sûr.e de vouloir supprimer ??"} do %>
                  <i class="fa-solid fa-trash primary-text-color"></i>
                <% end %>
                </div>
              </td>
              <td><%= b.name %></td>
              <td><%= b.goal %></td>
              <td><%= b.cause %></td>
              <td class="center-text">
                <% photo_count = [b.photo.attached?, b.profile_pic_one.attached?, b.profile_pic_two.attached?, b.profile_pic_three.attached?] %>
                <%= "#{photo_count.count(true)}/4" %>
              </td>
              <td class="center-text">
                <% if b.long_desc.present? %>
                  <i class="fa-solid fa-circle-check green-color"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-circle-xmark grey-color"></i>
                <% end %>
              </td>
              <td class="center-text">
                <% if b.publish %>
                  <i class="fa-solid fa-circle-check green-color"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-circle-xmark grey-color"></i>
                <% end %>
              </td>
              <td class="center-text">
                <% if b.publish_logo %>
                  <i class="fa-solid fa-circle-check green-color"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-circle-xmark grey-color"></i>
                <% end %>
              </td>
              <td class="center-text"><%= b.offers.count %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>
