<%= render partial: "shared/navpan", locals: {active: 1} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Ajouter une nouvelle association</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">
    <%= link_to "Retour", admin_beneficiaries_path, class:"button btn-light-main mb-2" %>
    <%= simple_form_for(@beneficiary) do |f| %>
      <%= f.input :name %>
      <%= f.input :goal, collection: Beneficiary::GOALS %>
      <%= f.input :cause %>
      <%= f.input :siren %>
      <%= f.input :rna %>
      <%= f.input :address %>
      <%= f.input :city %>

      <%= f.input :logo, as: :file %>

      <button type="submit" class="button btn-main-color mt-3">Enregistrer</button>
    <% end %>

  </div>
</div>
