<%= render partial: "shared/navpan", locals: {active: 1} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Ajouter une nouvelle association</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">
    <%= simple_form_for(@beneficiary) do |f| %>
      <div class="sticky-admin-nav d-flex white-bg pt-3 pb-3">
        <%= link_to "Retour", admin_beneficiaries_path, class:"button btn-light-main me-3" %>
        <button type="submit" class="button btn-main-color">Enregistrer</button>
      </div>

      <h6 class="primary-text-color">Informations principales</h6>
      <%= f.input :name %>
      <%= f.input :goal, collection: Beneficiary::GOALS %>
      <%= f.input :cause %>
      <%= f.input :description, as: :rich_text_area %>

      <h6 class="primary-text-color">Elements visuels</h6>
      <%= f.input :logo, as: :file %>
      <%= f.input :photo, as: :file %>

    <% end %>

  </div>
</div>
