<h1 style="font-family: sans-serif; font-weight: 600; font-size: 25px; color: #531cb3;">🥳 Nouveau questionnaire reçu</h1>
<p>--------------------------</p>
<p style="font-family: sans-serif;">Nom : <%= @candidate.user.first_name %> <%= @candidate.user.last_name.upcase %></p>
<p style="font-family: sans-serif;">Email : <%= @candidate.user.email %></p>
<p style="font-family: sans-serif;">Téléphone : <%= @candidate.phone_num %></p>
<p style="font-family: sans-serif;">Statut : <%= @candidate.status %></p>
<% if @candidate.employed? %>
  <p style="font-family: sans-serif;">Employeur : <%= @candidate.employer_name %></p>
<% end %>
<p style="font-family: sans-serif;">CV :
  <% if @candidate.cv.attached? %>
    <%= link_to 'Disponible', Cloudinary::Utils.cloudinary_url(@candidate.cv.key), target: "_blank" %>
  <% else %>
    Non communiqué
  <% end %>
</p>
<p style="font-family: sans-serif;">CV :
  <% if @candidate.linkedin_url.present? %>
    <%= link_to "Disponible", @candidate.clean_linkedin_url, target: "_blank" %>
  <% else %>
    Non communiqué
  <% end %>
</p>
<p>--------------------------</p>
<p style="font-family: sans-serif;">Profil : <%= @candidate.description %></p>
<p style="font-family: sans-serif;">Localisation : <%= @candidate.location %></p>
<p style="font-family: sans-serif;">Télétravail : <%= @candidate.remote_work %></p>
<p style="font-family: sans-serif;">Expertise principale : <%= @candidate.function %></p>
<p style="font-family: sans-serif;">Compétences détaillées : <%= @candidate.skill_list.join(", ") %></p>
<p style="font-family: sans-serif;">Disponibilité : <%= @candidate.availability_output %></p>
<p style="font-family: sans-serif;">Disponibilités détaillées : <%= @candidate.availability_details %></p>
<p style="font-family: sans-serif;">Intérêts pour les assos : <%= @candidate.primary_causes.join(", ") %></p>
<p style="font-family: sans-serif;">Expérience associative : <%= @candidate.volunteering %></p>
<p style="font-family: sans-serif;">Commentaires : <%= @candidate.comment %></p>
<p>--------------------------</p>
