<h1 style="font-family: sans-serif; font-weight: 600; font-size: 25px; color: #531cb3;">🤘 Nouveau candidat inscrit</h1>

<p>--------------------------</p>

<p style="font-family: sans-serif;">Nom : <%= @candidate.full_name %></p>
<p style="font-family: sans-serif;">Email : <%= @candidate.user.email %></p>
<p style="font-family: sans-serif;">Téléphone : <%= @candidate.phone_num %></p>
<p style="font-family: sans-serif;">Statut : <%= @candidate.status %></p>

<% if @candidate.employed? %>
  <p style="font-family: sans-serif;">Employeur : <%= @candidate.employer_name %></p>
<% end %>

<p style="font-family: sans-serif;">CV :
  <% if @candidate.cv.attached? %>
    <%= link_to 'Disponible', Cloudinary::Utils.cloudinary_url(@candidate.cv.key), target: "_blank" %>
  <% else %>
    Non communiqué
  <% end %>
</p>

<p style="font-family: sans-serif;">LinkedIn :
  <% if @candidate.linkedin_url.present? %>
    <%= link_to "Disponible", @candidate.clean_linkedin_url, target: "_blank" %>
  <% else %>
    Non communiqué
  <% end %>
</p>

<p style="font-family: sans-serif;">Candidature associée :
  <% if @candidate.candidacies.empty? %>
    Aucune
  <% else %>
    <%= "#{@candidate.candidacies.first.beneficiary.name} - #{@candidate.candidacies.first.offer.title}" %>
  <% end %>
</p>

<p>--------------------------</p>
