<div class="ctn top-mg">

  <h2>Liste des bénéficiaires</h2>

  <div>
    <% @beneficiaries.each do |beneficiary| %>
      <div class="d-flex">
        <% if beneficiary.logo.attached? %>
          <%= cl_image_tag beneficiary.logo.key, height: 100, width: 100, crop: :fill %>
        <% end %>
        <div>
          <h5>Nom : <%= beneficiary.name %></h5>
          <p>Projet : <%= beneficiary.cause %></p>
          <p>Siren : <%= beneficiary.siren %></p>
          <p>N° RNA : <%= beneficiary.rna %></p>
          <p>Addresse : <%= beneficiary.address %></p>
          <p>Ville : <%= beneficiary.city %></p>
        </div>
        <div>
          <%= link_to 'Offres', beneficiary_path(beneficiary)  %>
          <%= link_to 'Modifier', edit_beneficiary_path(beneficiary) %>
          <%= link_to 'Supprimer', beneficiary_path(beneficiary), data: {turbo_method: :delete, turbo_confirm: "Sûr.e de vouloir supprimer ??"} %>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Créer un nouveau bénéficiaire</h2>

  <div>
    <%= simple_form_for(@beneficiary) do |f| %>
      <%= f.input :name %>
      <%= f.input :cause %>
      <%= f.input :siren %>
      <%= f.input :rna %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :logo, as: :file %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
