<% content_for :title, "En savoir plus sur l'association #{@beneficiary.name}" %>
<% content_for :description, "Grâce à Demain, engagez-vous auprès de l'association #{@beneficiary.name} en réalisant une mission de mécénat de compétences." %>
<% canonical(beneficiary_url(@beneficiary)) %>

<% if @beneficiary.profile_pic_one.attached? %>
  <% content_for :image,
    cl_image_path(@beneficiary.profile_pic_one.key, transformation: [
      { width: 1200, height: 630, crop: :fill, color: "black", effect: "colorize:50" },
      { overlay: "logo_white.png" },
      { flags: "layer_apply", width: 300, gravity: "west", y: -50, x:100 , crop: :scale },
      { overlay: "og_overlay_2.png" },
      { flags: "layer_apply", width: 300, gravity: "south_east", crop: :scale },
      { overlay: {font_family: "Verdana", font_size: "30px", text: "Partenaire de l'association #{@beneficiary.name}" }, gravity: "west", y: 50, x:100 , color: "white", width: 800, crop: "fit" }
      ])
  %>
<% end %>

<% b_logo_path = @beneficiary.logo.attached? ? cl_image_path(@beneficiary.logo.key) : cl_image_path('../default_logo.png') %>

<% bg_img = @beneficiary.photo.attached? ? cl_image_path(@beneficiary.photo.key) : cl_image_path('../default_banner_bg.jpg') %>
<% b_logo = @beneficiary.logo.attached? ? cl_image_tag(@beneficiary.logo.key, alt:"logo de l'association #{@beneficiary.name}") : image_tag('illustration5.png', alt: "logo d'association") %>

<h1 class="d-none">Travailler pour l'association <%= @beneficiary.name %></h1>

<div class="position-relative">
  <div style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('<%= bg_img %>')" class="offer-banner">
    <div class="logo-box mb-3">
      <%= b_logo %>
    </div>
    <h2><%= @beneficiary.cause %></h2>
  </div>
</div>

<div class="white-bg full-height-ctn sheet-pad-y">


  <div class="ctn-resp resp-rhs-pad">
    <div class="flex-resp justify-content-between mb-3 resp-height-asso">

      <div class="asso-img-ctn d-flex flex-column justify-content-between full-width mg-resp-r mb-2-resp">
        <div class="position-relative">
          <%= cl_image_tag((@beneficiary.profile_pic_one.attached? ? @beneficiary.profile_pic_one.key : '../placeholder_1.jpg'), class: "full-width mb-3", alt: "première photo de l'association") %>
          <span><%= image_tag('purple_shape_1.svg', class: "top-left-shape", alt: "aplat de couleur violet foncé") %></span>
        </div>
        <div class="grey-info-box mb-3 d-flex flex-column justify-content-between" style="height: 260px">
          <div>
            <h6 class="bold-7 center-text mb-3" id="beneficiary_name"><%= @beneficiary.name %></h6>
            <ul class="mb-4">
              <li>Cause : <span id="beneficiary_cause"><%= @beneficiary.cause %></span></li>
              <li>Adresse : <span id="beneficiary_address"><%= @beneficiary.address %></span></li>
              <li>Création : <%= @beneficiary.start_year %></li>
            </ul>
          </div>
          <div class="d-flex justify-content-center full-width">
            <% if @beneficiary.web_url.present? %>
              <%= link_to @beneficiary.web_url, target: "_blank", id: "beneficiary_web_url" do %>
                <i class="fa-solid fa-globe round-button btn-round-cta me-3"><span class="cta-top-legend sm-thin-text primary-text-color no-wrap">web</span></i>
              <% end %>
            <% else %>
              <i class="fa-solid fa-globe round-button btn-round-cta inactive me-3"><span class="cta-top-legend sm-thin-text primary-text-color no-wrap">web</span></i>
            <% end %>

            <% if @beneficiary.li_url.present? %>
              <%= link_to @beneficiary.li_url, target: "_blank" do %>
                <i class="fa-brands fa-linkedin-in round-button btn-round-cta"><span class="cta-top-legend sm-thin-text primary-text-color">linkedin</span></i>
              <% end %>
            <% else %>
              <i class="fa-brands fa-linkedin-in round-button btn-round-cta inactive"><span class="cta-top-legend sm-thin-text primary-text-color">linkedin</span></i>
            <% end %>
          </div>
        </div>
        <div class="position-relative">
          <%= cl_image_tag((@beneficiary.profile_pic_two.attached? ? @beneficiary.profile_pic_two.key : '../placeholder_2.jpg'), class: "full-width", alt: "deuxième photo de l'association") %>
          <span><%= image_tag('purple_shape_2.svg', class: "bottom-right-shape", alt: "aplat de couleur violet foncé") %></span>
        </div>
      </div>

      <div class="full-width mg-resp-l d-flex flex-column justify-content-between overflow-auto">
        <div class="mb-2 overflow-auto ctn-resp ps-0">
          <h5 class="primary-text-color mb-2">L'asso en 2-3 mots</h5>
          <%= @beneficiary.long_desc.present? ? @beneficiary.long_desc : @beneficiary.description %>
        </div>
        <div class="lighter-bg ctn-resp ps-0 custom-resp-rhs-pad overflow-auto card-list-height">
          <h4 class="m-3 mb-4 text-ellipsis">
            <% if @offers.count == 0 %>
              aucune mission
            <% elsif @offers.count == 1 %>
              1 mission
            <% else %>
              <%= @offers.count %> missions
            <% end %>
            actuellement en ligne
          </h4>
          <% @offers.each do |o| %>
            <%= link_to offer_path(o) do %>
              <div class="asso-mission-card ms-3 mb-2">
                <h5 class="primary-text-color mb-2"><%= o.title %></h5>
                <p>⏲️ <%= o.frequency_output %> | 📅  <%= o.duration_output %> | 📍 <%= o.location %></p>
              </div>
            <% end %>
          <% end %>

        </div>
      </div>

    </div>
  </div>

  <div class="ctn-resp flex-resp justify-content-between">
    <div class="max-width-750 d-flex flex-column justify-content-between full-width mg-resp-r mb-2-resp">
      <h5 class="primary-text-color mb-2">L'asso en 2-3 chiffres</h5>
      <div class="three-box-grid">
        <% if @beneficiary.kpi_one.present? %>
          <div>
            <h5 class="primary-text-color bold-7 mb-3"><%= @beneficiary.kpi_one %></h5>
            <p><%= @beneficiary.kpt_one %></h5></p>
          </div>
        <% end %>
        <% if @beneficiary.kpi_two.present? %>
          <div>
            <h5 class="primary-text-color bold-7 mb-3"><%= @beneficiary.kpi_two %></h5>
            <p><%= @beneficiary.kpt_two %></h5></p>
          </div>
        <% end %>
        <% if @beneficiary.kpi_three.present? %>
          <div>
            <h5 class="primary-text-color bold-7 mb-3"><%= @beneficiary.kpi_three %></h5>
            <p><%= @beneficiary.kpt_three %></h5></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="asso-img-ctn full-width mg-resp-l">
      <div class="position-relative">
        <%= cl_image_tag((@beneficiary.profile_pic_three.attached? ? @beneficiary.profile_pic_three.key : '../default_banner_bg.jpg'), class: "full-width", alt: "troisième photo de l'association") %>
        <span><%= image_tag('purple_shape_3.svg', class: "bottom-right-shape", alt: "aplat de couleur violet foncé") %></span>
      </div>
    </div>
  </div>

</div>
