<%= f.error_notification %>
<div class="mb-10 position-relative">
  <%= f.input :first_name,
              placeholder: "Prénom",
              label: false,
              wrapper: false,
              required: true %>
</div>
<div class="mb-10 position-relative">
  <%= f.input :last_name,
              placeholder: "Nom",
              label: false,
              wrapper: false,
              required: true %>
</div>
<div class="input-with-icon mb-10 position-relative">
  <%= f.input :email,
              required: true,
              placeholder: "Adresse mail",
              label: false,
              wrapper: false,
              input_html: { autocomplete: "email" } %>
    <i class="fa-regular fa-envelope"></i>
  </div>
<div class="input-with-2-icons mb-10 position-relative" data-controller="password">
  <%= f.input :password,
              required: true,
              wrapper: false,
              placeholder: "Mot de passe",
              label: false,
              input_html: { autocomplete: "new-password", data: {"password-target": "input"} } %>
  <i class="fa-solid fa-lock"></i>
  <i class="fa-regular fa-eye-slash min-w-20 text-center" data-action="click->password#toggle"></i>
</div>
<div class="input-with-2-icons mb-20 position-relative" data-controller="password">
  <%= f.input :password_confirmation,
              required: true,
              wrapper: false,
              placeholder: "Confirmation",
              label: false,
              input_html: { autocomplete: "new-password", data: {"password-target": "input"} } %>
  <i class="fa-solid fa-lock"></i>
  <i class="fa-regular fa-eye-slash min-w-20 text-center" data-action="click->password#toggle"></i>
</div>

<%# <%= recaptcha_v3(action: 'signup') %>
