<div class="ctn-resp pt-50 bg-white">
  <div class="full-height-ctn flex-stretch-center md-resp-flex-col pb-50">

    <% active = 2 %>
    <%= render partial: "navpan", locals: {active: active} %>

    <div class="w-100 p-40 md-resp-p-0 md-resp-pt-20">
      <h5 class="mb-10">Mon compte</h5>
      <h6 class="mb-20">Paramètres de connexion</h6>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "max-w-400", data: {turbo: false} }) do |f| %>
        <%= f.error_notification %>

        <div class="mb-10 position-relative">
          <%= f.input :email,
                      required: true,
                      label: "E-mail",
                      wrapper: false %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>En attente de confirmation pour : <%= resource.unconfirmed_email %></p>
        <% end %>

        <div class="mb-10 position-relative">
          <%= f.input :current_password,
                      required: true,
                      label: "Mot de passe actuel",
                      wrapper: false %>
        </div>

        <div class="mb-10 position-relative">
          <%= f.input :password,
                      required: false,
                      label: "Nouveau mot de passe",
                      label_html: {class: "text-grey"},
                      wrapper: false %>
        </div>

        <div class="mb-20 position-relative">
          <%= f.input :password_confirmation,
                      required: false,
                      label: "Confirmation",
                      label_html: {class: "text-grey"},
                      wrapper: false %>
        </div>

        <%= hidden_field_tag 'source', "edit" %>

        <div class="flex-center-right">
          <%= f.submit "Enregistrer", class: "button btn-main-color" %>
        </div>

      <% end %>
    </div>

  </div>
</div>
