<div class="white-wrapper">
  <div class="ctn">
  <div class="form-header">
    <h5>Création de compte Demain</h5>
  </div>
    <h4 class="mt-4 mb-4 primary-text-color center-text">Créez votre compte pour candidater aux offres de nos partenaires</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    label: "Prénom" %>
        <%= f.input :last_name,
                    label: "Nom" %>
        <%= f.input :email,
                    required: true,
                    label: "Adresse mail",
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    label: "Choississez votre mot de passe",
                    hint: ("doit contenir au moins #{@minimum_password_length} caractères" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirmez votre mot de passe",
                    input_html: { autocomplete: "new-password" } %>

      </div>

      <div class="form-actions flex-resp justify-content-between">
        <%= f.button :submit, "Enregistrer", class:"button btn-flag-color mb-3" %>
        <div class="flex-resp align-items-center mb-3">
          <h6 class="primary-text-color ps-4 pe-4 center-text mb-1">Déja inscrit.e ?</h6>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
