<div class="white-wrapper">
  <div class="ctn">
    <div class="flex-resp align-items-center mb-3">
      <%= render "devise/shared/links" %>
    </div>

    <h4 class="mt-4 mb-4 primary-text-color">Créez votre compte pour candidater aux offres de nos partenaires</h4>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name,
                    label: "Prénom",
                    error: 'Woops, on en a besoin !',
                    required: true %>
        <%= f.input :last_name,
                    label: "Nom",
                    error: 'Woops, on en a besoin !',
                    required: true %>
        <%= f.input :email,
                    required: true,
                    label: "Adresse mail",
                    error: 'Woops ! il y a un problème',
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: true,
                    label: "Choississez votre mot de passe",
                    error: 'Woops ! il y a un problème',
                    hint: ("doit contenir au moins #{@minimum_password_length} caractères" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    label: "Confirmez votre mot de passe",
                    error: 'Woops ! il y a un problème',
                    input_html: { autocomplete: "new-password" } %>

      </div>

      <div class="form-actions flex-resp justify-content-end">
        <%= f.button :submit, "Enregistrer", class:"button btn-flag-color" %>
      </div>
    <% end %>

  </div>
</div>
