<div data-controller="popup">
  <h5 class="fw-6 text-main mb-40">1. Je complète mon profil<i class="fa-solid fa-circle-question ml-10 cursor-pointer" data-pop-up-id="1", data-action="click->popup#open"></i></h5>

  <div class="max-w-300">
    <%= simple_form_for(current_user, url: set_user_profile_path) do |f| %>
      <h6 class="text-main mb-10 fw-6">Informations principales</h6>
      <%= render partial: "progress_bar", locals: {step: 1} %>

      <div class="mb-10 position-relative">
          <%= f.input :first_name,
                      label: "Prénom",
                      wrapper: false %>
      </div>
      <div class="mb-10 position-relative">
          <%= f.input :last_name,
                      label: "Nom",
                      wrapper: false %>
      </div>
      <%= f.simple_fields_for :candidate, @candidate do |c| %>
        <div class="mb-10 position-relative input-with-icon">
          <%= c.input :phone_num,
                      label: "Téléphone",
                      wrapper: false %>
          <i class="fa-solid fa-phone"></i>
        </div>
        <div class="mb-10 position-relative">
          <%= c.input :location,
                      label: "Ville",
                      wrapper: false %>
        </div>
        <div class="mb-10 position-relative">
          <%= c.input :birth_date,
                      label: "Date de naissance",
                      as: :string,
                      placeholder: "jj/mm/aaaa",
                      input_html: { value: @candidate.birth_date&.strftime("%d/%m/%Y") },
                      wrapper: false %>
        </div>
      <% end %>

      <div class="flex-between mt-20">
        <%= link_to "retour", user_onboarding_path, class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
        <%= f.submit "continuer", class: "round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
      </div>
    <% end %>
  </div>
  <%= render partial: "info_modal" %>
</div>
