<h5 class="fw-6 text-main mb-40">1. Je complète mon profil</h5>

<div class="max-w-400">
  <%= simple_form_for(@candidate) do |f| %>
    <h6 class="text-main mb-20 fw-6">Engagement</h6>
    <%= render partial: "company_user/candidates/progress_bar", locals: {step: 4} %>

    <div class="mb-10">
      <label class="label-form">Les causes qui vous tiennent à coeur</label>
      <%= f.input :secondary_cause,
                  label: false,
                  collection: Beneficiary::CAUSES,
                  as: :check_boxes,
                  wrapper_html: {class: 'custom-checkbox-ctn'} %>
    </div>

    <div class="mb-20 max-w-300">
      <%= f.input :volunteering,
                  label: 'Vos expériences associatives',
                  input_html: {class: "min-h-50"},
                  wrapper: false %>
    </div>

    <%= hidden_field_tag :step, params[:step] %>
    <div class="flex-between mt-20 max-w-300">
      <%= link_to "retour", user_profile_path(step: 3), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
      <%= f.submit "continuer", class: "round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
    </div>
  <% end %>
</div>
