<div class="mb-40">
  <h5 class="mb-20 w-100 text-center text-main"><i class="fa-regular fa-heart pr-10"></i>Association</h5>
  <div>
    <p class="fw-5">Nom :</p>
    <p><%= mission.offer.beneficiary.name %></p>
  </div>
  <div>
    <p class="fw-5">Adresse :</p>
    <p><%= mission.offer.beneficiary.address %></p>
  </div>
  <div>
    <p class="fw-5">SIREN :</p>
    <p><%= mission.offer.beneficiary.siren %></p>
  </div>
  <div>
    <p class="fw-5">RNA :</p>
    <p><%= mission.offer.beneficiary.rna %></p>
  </div>
  <%= simple_form_for(mission, url: company_admin_mission_path(mission), html: {data: {controller: "hidden-form", hidden_form_target: "form"}}) do |f| %>
    <div class="mb-10" data-action="click->hidden-form#edit">
      <h6>Référent mission :</h6>
      <div data-hidden-form-target="output">
        <p><%= mission.referent_name %></p>
        <p><%= mission.referent_email %></p>
      </div>
      <div data-hidden-form-target="input" class="d-none">
        <%= f.input :referent_name, wrapper: false, label: false, input_html: {class: "embedded"} %>
        <%= f.input :referent_email, wrapper: false, label: false, input_html: {class: "embedded"} %>
      </div>
    </div>
    <div class="w-100 d-flex d-none" data-hidden-form-target="input">
      <%= link_to "Annuler", "", class: "button btn-light-color w-100", data: {action: "click->hidden-form#cancel"} %>
      <%= f.submit "Enregistrer", class: "button btn-main-color w-100" %>
    </div>
  <% end %>
</div>


<div class="mb-40">
  <h5 class="text-main text-center mb-10 fw-6"><i class="fa-regular fa-user pr-10"></i>Salarié.e</h5>
  <div>
    <p class="fw-5">Nom :</p>
    <p><%= mission.candidate.full_name %></p>
  </div>
  <div>
    <p class="fw-5">Domaine :</p>
    <p><%= mission.candidate.function %></p>
  </div>
  <div>
    <p class="fw-5">Titre :</p>
    <p><%= mission.candidate.title %></p>
  </div>
  <%= simple_form_for(mission.candidate, url: company_admin_candidate_path(mission.candidate), html: {data: {controller: "hidden-form", hidden_form_target: "form"}}) do |f| %>
    <div class="mb-10" data-action="click->hidden-form#edit">

      <h6>Référent mission :</h6>
      <div data-hidden-form-target="output">
        <p><%= mission.candidate.referent_name %></p>
        <p><%= mission.candidate.referent_email %></p>
      </div>
      <div data-hidden-form-target="input" class="d-none">
        <%= f.input :referent_name, wrapper: false, label: false, input_html: {class: "embedded"} %>
        <%= f.input :referent_email, wrapper: false, label: false, input_html: {class: "embedded"} %>
        <%= hidden_field_tag 'mission', mission.id %>
      </div>

    </div>
    <div class="w-100 d-flex d-none" data-hidden-form-target="input">
      <%= link_to "Annuler", "", class: "button btn-light-color w-100", data: {action: "click->hidden-form#cancel"} %>
      <%= f.submit "Enregistrer", class: "button btn-main-color w-100" %>
    </div>
  <% end %>
</div>
