<div class="pl-40 w-100">
  <div class="mb-40">
    <h5 class="mb-20">💜 Nouvelle mission</h5>

    <div class="max-w-400">

      <div class="bg-light round-10 p-10 grey-border mb-40">
        <table>
          <tr>
            <td class="pr-20 fw-6">Salarié :</td>
            <td><%= candidacy.candidate.full_name %></td>
          </tr>
          <tr>
            <td class="pr-20 fw-6">Association :</td>
            <td><%= candidacy.beneficiary.name %></td>
          </tr>

        </table>
      </div>

      <%= simple_form_for([candidacy, mission], url: company_admin_candidacy_missions_path) do |f| %>
        <%= f.input :title, input_html: {value: "#{mission.candidacy.beneficiary.name} - #{mission.offer.title}"}%>

        <div class="mb-10">
          <h6>Dates :</h6>
          <div class="flex-center-between mb-10" data-controller="flatpickr">
            <p class="mr-10 no-wrap w-100">Début :</p>
            <p><%= f.input :start_date, as: :string, input_html: { value: candidacy.req_start_date&.strftime("%d/%m/%Y"), data: { flatpickr_target: "date" }, class: "w-100" }, wrapper: false, label: false %></p>
          </div>
          <div class="flex-center-between" data-controller="flatpickr">
            <p class="mr-10 no-wrap w-100">Fin :</p>
            <p><%= f.input :end_date, as: :string, input_html: { value: candidacy.req_start_date&.strftime("%d/%m/%Y"), data: { flatpickr_target: "date" }, class: "w-100" }, wrapper: false, label: false %></p>
          </div>
        </div>



        <%= f.input :periodicity, input_html: {value: candidacy.req_periodicity}%>
        <%= f.input :days_count, input_html: {value: candidacy.req_days}%>
        <%= f.input :referent_name %>
        <%= f.input :referent_email %>
        <%= f.input :last_active_status, as: :hidden, input_html: {value: "draft"} %>
        <%= f.submit %>
      <% end %>
    </div>

  </div>
</div>
