<div class="pl-40 flex-grow-1">
  <% if mission.draft? %>
    <div class="d-flex mb-40">
      <%= link_to "Checklist", company_admin_mission_path(mission), class: "button" %>
      <%= link_to "Contreparties", company_admin_mission_path(mission, view: "contreparties"), class: "button" %>
      <%= link_to "Modalités", company_admin_mission_path(mission, view: "modalites"), class: "button" %>
      <%= link_to "Documents", company_admin_mission_path(mission, view: "documents"), class: "button" %>
    </div>
  <% end %>

  <% case mission.status %>
  <% when "draft" %>
    <div class="max-w-500">
      <% case params[:view] %>
      <% when "contreparties" %>
        <%= render partial: "counterparts", locals: {mission: mission, contract: contract} %>
      <% when "modalites" %>
        <%= render partial: "terms", locals: {mission: mission, contract: contract} %>
      <% when "documents" %>
        <%= render partial: "documents", locals: {mission: mission, contract: contract} %>
      <% else %>
        <%= render partial: "checklist", locals: {mission: mission, contract: contract} %>
      <% end %>
    </div>
  <% when "validated" %>
    <div class="max-w-300">
      Cette mission a été validée
      <%= link_to "Voir plus", "", class: "button btn-main-color" %>
    </div>
  <% when "finished" %>
    <div class="max-w-300">
      Mission terminée
    </div>
  <% when "abandonned" %>
    <div class="max-w-300">
      Mission abandonnée
    </div>
  <% end %>
</div>
