<div class="mb-20">
  <%= render partial: "tabs" %>
</div>

<div class="d-flex">
  <%= render partial: "list" %>

  <div class="ml-40">
    <%= render partial: "subtabs" %>

    <div class="max-w-400">

      <div class="pl-10 mb-20">
        <h6 class="pt-05 fw-7 text-main">Validation pour envoi à l'association</h6>
      </div>

      <%= render partial: "summary" %>

      <%= simple_form_for(@mission, url: company_admin_mission_path(@mission)) do |f| %>
        <%= f.input :beneficiary_approval, as: :boolean, label: "Confirmer l'envoi à l'association", input_html: { class: "toggle" }, wrapper_html: { class: "div-align position-relative" }, checked_value: :submitted, unchecked_value: :not_submitted %>
        <%= f.input :draft_step, as: :hidden, input_html: {value: :validation} %>
        <div class="w-100 flex-center-between mb-40">
          <%= link_to "Retour", company_admin_mission_path(@mission, step: :documents), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
          <%= f.submit "Valider", class: "round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2", disabled: !@mission_on_record.draft_step_checklist? %>
        </div>
      <% end %>
    </div>

  </div>
</div>
