<%= render partial: "header" %>

<div class="d-flex">
  <%= render partial: "subtabs" %>
  <div class="ml-40 mb-40 w-100">

    <div class="mb-50 max-w-400 w-100">

      <%= simple_form_for(@mission, url: company_admin_mission_path(@mission)) do |f| %>
        <table class="w-100 mb-10 table-padding table-align-top" cellpadding=0>
          <tbody>

            <tr class="text-main bg-grey">
              <th>Association</th>
              <td></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Nom</th>
              <td class="w-100"><%= @mission.offer.beneficiary.name %></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Adresse</th>
              <td><%= @mission.offer.beneficiary.address %></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">SIREN</th>
              <td><%= @mission.offer.beneficiary.siren %></td>
            </tr>
              <th class="pr-10 no-wrap fw-5">Référent mission</th>
              <td class="w-100"><%= f.input :referent_name, placeholder: "Nom", wrapper: false, label: false, input_html: {class: "embedded"} %></td>
            </tr>
            <tr>
              <th></th>
              <td class="w-100"><%= f.input :referent_email, placeholder: "Email", wrapper: false, label: false, input_html: {class: "embedded"} %></td>
            </tr>

            <tr><td class="pt-10"></td></tr>

            <tr class="text-main bg-grey">
              <th>Salarié.e</th>
              <td></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Nom</th>
              <td class="w-100"><%= @mission.candidate.full_name %></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Domaine</th>
              <td><%= @mission.candidate.function %></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Titre</th>
              <td><%= @mission.candidate.title %></td>
            </tr>
            <tr>
              <th class="pr-10 no-wrap fw-5">Référent manager</th>
              <td class="w-100">
                <%= simple_fields_for :candidate, @mission.candidate do |c| %>
                  <%= c.input :referent_name, wrapper: false, label: false, placeholder: "Nom", input_html: {class: "embedded"} %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th></th>
              <td class="w-100 position-relative">
                <%= simple_fields_for :candidate, @mission.candidate do |c| %>
                  <%= c.input :referent_email, wrapper: false, label: false, placeholder: "Email", input_html: {value: @mission.candidate.referent_email, class: "embedded"} %>
                <% end %>
              </td>
            </tr>

            <tr><td class="pt-10"></td></tr>

            <tr class="text-main bg-grey">
              <th>Mission</th>
              <td></td>
            </tr>
            <tr>
              <th class="pr-10 fw-5">Intitulé</th>
              <td class="w-100"><%= f.input :title, placeholder: @mission.beneficiary.name, wrapper: false, label: false, input_html: {class: "embedded"} %></td>
            </tr>
          </tbody>
        </table>

        <div class="pl-10">
          <%= f.input :description, placeholder: @mission.candidacy.req_description, wrapper: false, label: "Description", input_html: {class: "embedded"} %>
        </div>


        <%= f.input :draft_step, as: :hidden, input_html: {value: :terms} %>
        <div class="w-100 flex-center-between mb-40">
          <span></span>
          <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Continuer</button>
        </div>

      <% end %>
    </div>
  </div>
</div>
