<%= render partial: "header" %>

<% input = @error ? "output" : "input" %>
<% output = @error ? "input" : "output" %>

<div class="d-flex">
  <%= render partial: "subtabs" %>
  <div class="ml-40 mb-40 w-100" data-controller="hidden-form">
    <div class="pl-10 mb-20 max-w-400">
      <div data-hidden-form-target=<%=output%>>
        <div class="mb-20">
          <h6 class="pt-05 fw-7 text-main">Documents associés à la mission</h6>

          <% if @mission.contracts.empty? %>
            <p>Cette mission n'a pas encore de document associé.</p>
          <% end %>
        </div>

        <%= link_to "", class:"w-100 button round bg-white-to-shade first-main-border text-main", data: {action: "click->hidden-form#edit"} do %>
          <i class="fa-solid fa-file-arrow-up mr-10"></i>
          Ajouter un nouveau document
        <% end %>

        <div>
          <% @mission.contracts.each do |contract| %>
            <% if contract.valid? %>
              <div class="w-100 bg-light flex-center-between p-20 mb-10">
                <div>
                  <h6><%= contract.title %></h6>
                  <p class=""><%= contract.contract_type %></p>
                </div>
                <div class="d-flex">
                  <%= link_to cl_image_path(contract.document.key), target: "_blank", class:"text-main" do %>
                    <i class="fa-regular fa-circle-down mr-10"></i>
                  <% end %>
                  <%= link_to company_admin_contract_path(contract, view: params[:view]), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr.e de vouloir supprimer ?"} do %>
                    <i class="fa-solid fa-trash text-main"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <%= simple_form_for(@mission, url: company_admin_mission_path(@mission)) do |f| %>
          <%= f.input :draft_step, as: :hidden, input_html: {value: :checklist} %>
          <div class="w-100 flex-center-between mb-40">
            <%= link_to "Retour", company_admin_mission_path(@mission, step: :terms), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
            <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Continuer</button>
          </div>
        <% end %>

      </div>

      <div class="mb-20 w-100" data-hidden-form-target=<%=input%>>
        <div class="flex-center-between mb-20 pt-05">
          <h6 class="fw-7 text-main">Ajouter un nouveau document</h6>
          <%= link_to "", data: {action: "click->hidden-form#cancel"} do %>
            <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
          <% end %>
        </div>
        <%= simple_form_for(@mission, url: company_admin_mission_path(@mission), html: {data: {controller: "hidden-form", hidden_form_target: "form"}}) do |f| %>
          <%= f.simple_fields_for :contracts, @contract do |c| %>
            <%= c.input :title, label: "Titre", wrapper_html: {class: "position-relative"} %>
            <%= c.input :contract_type, collection: Contract.contract_types.keys, label: "Type", wrapper_html: {class: "position-relative"} %>
            <%= c.input :document, as: :file, label: "Document", wrapper_html: {class: "position-relative"} %>
          <% end %>
          <button type="submit", class="w-100 button round bg-white-to-shade first-main-border text-main bn-none">
            <i class="fa-solid fa-floppy-disk mr-10"></i>
            Enregistrer le document
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
