<%= render partial: "header" %>

<div class="d-flex">

  <div class="max-w-300 w-100">
    <%= render partial: "company_admin/shared/mission_banner" %>

    <% case @mission.beneficiary_approval %>
    <% when "submitted" %>
      <div class="flex-center-between mb-10 w-100">
        <h6 class="text-main fw-7">En attente de validation par l'association</h6>
        <i class="fa-solid fa-hourglass-half text-flag-1 min-w-20 fs-25"></i>
      </div>
      <p>Les informations ci-contre ont été transmises à l'association pour validation</p>
    <% when "approved" %>
      <div class="flex-center-between mb-10 w-100">
        <h6 class="text-main fw-7">Mission validée par l'association</h6>
        <i class="fa-solid fa-circle-check text-flag-3 min-w-20 fs-25"></i>
      </div>
      <p>L'association a validé les informations transmises et la mission est prête à démarrer</p>
    <% when "rejected" %>
      <div class="flex-center-between mb-10 w-100">
        <h6 class="text-main fw-7">Mission refusée par l'association</h6>
        <i class="fa-solid fa-circle-xmark text-flag-2 min-w-20 fs-25"></i>
      </div>
      <p>L'association a refusé la mission proposée. Veuillez contacter Demain pour plus d'informations.</p>
    <% end %>
  </div>


  <div class="ml-40 max-w-400">
    <% if @mission.beneficiary_approval_approved? %>
      <div class="mb-20">
        <%= simple_form_for(@mission, url: company_admin_mission_path(@mission), html: {data: {controller: "hidden-form", hidden_form_target: "form"}}) do |f| %>
          <%= f.input :status, as: :hidden, input_html: {value: "activated"}, wrapper: false %>
          <button type="submit", class="w-100 button round bg-main-to-dark first-main-border text-white bn-none">
            <i class="fa-regular fa-circle-play mr-10"></i>
            Activer la mission
          </button>
        <% end %>
      </div>
    <% end %>

    <%= render partial: "company_admin/shared/mission_summary" %>

  </div>
</div>
