<%= render partial: "shared/navpan", locals: {active: 7} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Modifier une liste de missions</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">
    <div class="d-flex">
      <%= link_to "Retour", admin_offer_lists_path, class:"button btn-light-main mb-2 me-2" %>
      <%= link_to "Voir la liste", offer_selection_path(slug: @offer_list.slug), class:"button btn-flag-color ms-2", target: "_blank" %>
    </div>
    <%= simple_form_for(@offer_list) do |f| %>
      <div class="d-flex align-items-center">
        <div class="full-width pe-5">
          <div class="position-relative">
            <%= f.input :title %>
          </div>
          <div class="position-relative">
            <%= f.input :description %>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" class="button btn-main-color button-form" style="width: 100px">Modifier</button>
        </div>
      </div>
    <% end %>

    <table class="light-table full-width" data-controller="form-submitter">
      <thead>
        <tr>
          <th class="no-wrap">Association</th>
          <th>Titre de l'offre</th>
          <th class="fit-content center-text">Actions</th>
        </tr>
      </thead>
      <tbody data-form-submitter-target="list">
        <% @offer_bookmarks.each do |bookmark| %>
          <tr>
            <td><%= bookmark.offer.beneficiary.name %></td>
            <td class="col-stretch"><%= bookmark.offer.title %></td>
            <td class="p-0">
              <div class="d-flex justify-content-center align-items-center">
                <%= link_to offer_path(bookmark.offer), target: "_blank" do %>
                  <i class="fa-solid fa-eye text-main"></i>
                <% end %>
                <%= link_to offer_bookmark_path(bookmark), data: { method: :delete, turbo: false, action: 'click->form-submitter#destroy'} do %>
                  <i class="fa-solid fa-trash text-main"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
      <%= simple_form_for([@offer_list, @offer_bookmark], data: {"form-submitter-target": "form"}) do |f| %>
        <td></td>
        <td class="col-stretch pe-5">
            <%= f.association :offer, wrapper: false, label: false %>
        </td>
        <td class="vertical-align-middle p-0">
          <%= f.submit "Ajouter", class: "button btn-main-color button-form", style: "width: 100px", data: {turbo: false, "action": "click->form-submitter#submit"} %>
        </td>
      <% end %>
    </table>

  </div>
</div>
