<div class="tenant-modal" data-popup-target="window" data-action="click->popup#close" data-pop-up-id="2" data-active=<%=@error%>>
  <div>
    <div class="p-20 shadow-md" data-action="click->popup#keep">
      <div class="flex-center-between w-100">
        <h5 class="text-main fw-7">Décliner</h5>
        <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
          <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
        <% end %>
      </div>
      <h6 class="mb-20">Refuser la mission suggérée par <%= @selection.company_admin_origin? ? "votre entreprise" : "Demain" %></h6>

      <%= simple_form_for(@selection, url: user_selection_path(@selection), data: {turbo: false}) do |f| %>

        <%= f.input :active, as: :hidden, input_html: {value: false} %>

        <div class="position-relative mb-20">
          <%= f.input :motivation_msg, label: false, wrapper: false, placeholder: "Les raisons de votre refus", input_html:{class:"min-h-100"} %>
        </div>

        <button type="submit", class="w-100 button round bg-main-to-dark text-white bn-none">
          <i class="fa-regular fa-thumbs-down mr-10"></i>
          Refuser la mission
        </button>
      <% end %>

    </div>
  </div>
</div>
