<% bg_img = @selection.beneficiary.photo.attached? ? cl_image_path(@selection.beneficiary.photo.key) : cl_image_path('../default_banner_bg.jpg') %>
<% b_logo = @selection.beneficiary.logo.attached? ? cl_image_tag(@selection.beneficiary.logo.key, alt:"logo de l'association #{@selection.beneficiary.name}") : image_tag('illustration5.png', alt: "logo d'association") %>

<div class="mb-40 w-100 max-w-400">

  <div style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('<%= bg_img %>')" class="pt-40 pb-40 pl-20 pr-20 banner-bg position-relative">
    <%= link_to :back do %>
      <i class="fa-solid fa-xmark close-btn-alt square-30 flex-center"></i>
    <% end %>
    <div class="flex-center-left">
      <div class="mr-10 bg-white round-20 square-80 logo-box flex-shrink-0">
        <%= cl_image_tag(@selection.beneficiary.logo.key) %>
      </div>
      <div class="text-white">
        <h5><%= @selection.offer.beneficiary.name %></h5>
        <h6><%= @selection.offer.title %></h6>
        <p class="fw-3 fs-13 text-white"><i class="fa-solid fa-hand-holding-heart mr-10"></i><%= @selection.beneficiary.cause %></p>
      </div>
    </div>

  </div>

  <div class="bg-shade p-20">
    <%= @selection.offer.summary %>
  </div>

  <div class="bg-shade p-20 w-100">
    <%= link_to "Voir les infos", user_offer_path(@selection.offer), class: "button-round btn-light-main center-margin" %>
  </div>

</div>
