<div class="flex-center-left mb-40 company-sub-menu">
  <%= link_to "Toutes", user_selections_path, class: "button", data: {turbo: false, active: @subtab == 0} %>
  |
  <%= link_to "Propositions", user_selections_path(type: :suggestions), class: "button", data: {turbo: false, active: @subtab == 1 } %>
  |
  <%= link_to "Favoris", user_selections_path(type: :selections), class: "button", data: {turbo: false, active: @subtab == 2 } %>
  |
  <%= link_to "Candidatures", user_selections_path(type: :approved), class: "button", data: {turbo: false, active: @subtab == 3 } %>
  |
  <%= link_to "Refus", user_selections_path(type: :rejections), class: "button", data: {turbo: false, active: @subtab == 4 } %>
</div>
