<div class="mb-20">
  <%= render partial: "company_user/selections/tabs", locals: {selection: @selection_on_record} %>
</div>

<div class="d-flex">
  <%= render partial: "summary" %>
  <div class="ml-40 w-100 max-w-400">
    <div class="w-100">
      <div class="mb-20">
        <h5 class="text-main">Coup de coeur</h5>
        <p>Vous avez eu un coup de coeur pour cette mission.</p>
        <% if current_user.eligibility_on_going? %>
          <p class="mb-20">Vous pouvez y candidater dès à présent :</p>
          <%= render partial: "company_user/selections/candidacy_form" %>
        <% else %>
        <p>Vous ne pouvez pas y candidater actuellement</p>
        <% end %>
      </div>
      <div class="w-100">
        <%= simple_form_for(@selection, url: user_selection_path(@selection), data: {turbo: false}) do |f| %>
          <%= f.input :active, as: :hidden, input_html: {value: false} %>
          <button type="submit" class="flex-center button bn-none bg-white center-margin">
            <i class="fa-regular fa-heart mr-10 text-flag-2"></i>
            Retirer de mes coups de coeur
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
