<%= render partial: "summary" %>

  <div class="navpan-mg-ctn navpan-white-ctn">
    <div class="max-w-400">
      <%= simple_form_for(@mission, url: admin_mission_path(@mission)) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :status, collection: Mission.statuses.keys, include_blank: false, selected: @mission.status %>
        <div class="mb-10">
          <p><%= f.input :mission_type, collection: Mission.mission_types.keys, selected: @mission.mission_type, include_blank: "sélectionner" %></p>
        </div>
        <div class="mb-10" data-action="click->hidden-form#keep">
          <%= f.input :manager_approval, as: :boolean, label: "Validé par le management", input_html: { class: "toggle" }, wrapper_html: { class: "div-align position-relative" }, default: @mission.manager_approval_approved?, checked_value: "approved", unchecked_value: "not_submitted" %>
        </div>
        <div class="mb-10">
          <p><%= f.input :draft_step, collection: Mission.draft_steps.keys, selected: @mission.draft_step, include_blank: "sélectionner" %></p>
        </div>
        <div>
          <%= f.input :beneficiary_approval, collection: Mission.beneficiary_approvals.keys, selected: @mission.beneficiary_approval %>
        </div>
        <%= f.submit "Enregister", class: "button btn-main-color" %>
      <% end %>
    </div>

  </div>
</div>
