<div class="w-100 max-w-400">
  <% if @candidacies.empty? && @missions.empty? %>
    <h6 class="mb-10 text-grey">Votre historique de candidatures et de missions est vide</h6>
  <% end %>

  <% if !@candidacies.empty? %>
    <h6 class="mb-10 text-grey">Vos candidatures n'ayant pas abouti</h6>
    <% @candidacies.each do |c| %>
      <div class="w-100 p-10 bg-shade mb-10">
        <%= link_to "", class: "w-100 h-100" do %>
          <div class="flex-center-left w-100">
            <div class="mr-10 bg-white round-20 square-80 logo-box flex-shrink-0">
              <%= cl_image_tag(c.beneficiary.logo.key) %>
            </div>
            <div class="pe-none w-100">
              <h6><%= c.offer.beneficiary.name %></h6>
              <p><%= c.offer.title %></p>
              <% if @active_engagement %>
                <p class="fw-4 fs-13"><i class="fa-solid fa-pause text-main-light mr-10"></i>En pause (autre engagement en cours)</p>
              <% else %>
                <% case %>
                <% when c.being_assessed? || c.being_validated? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-play text-main-light mr-10"></i>Candidature active</p>
                <% when c.abandonned? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-stop text-grey-light mr-10"></i>Candidature écartée</p>
                <% when c.validated? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-eject text-flag-3 mr-10"></i>Mission validée</p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if !@missions.empty? %>
    <h6 class="mb-10 text-grey">Vos missions terminées ou abandonnées</h6>
    <% @missions.each do |c| %>
      <div class="w-100 p-10 bg-shade mb-10">
        <%= link_to "", class: "w-100 h-100" do %>
          <div class="flex-center-left w-100">
            <div class="mr-10 bg-white round-20 square-80 logo-box flex-shrink-0">
              <%= cl_image_tag(c.beneficiary.logo.key) %>
            </div>
            <div class="pe-none w-100">
              <h6><%= c.offer.beneficiary.name %></h6>
              <p><%= c.offer.title %></p>
              <% if @active_engagement %>
                <p class="fw-4 fs-13"><i class="fa-solid fa-pause text-main-light mr-10"></i>En pause (autre engagement en cours)</p>
              <% else %>
                <% case %>
                <% when c.being_assessed? || c.being_validated? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-play text-main-light mr-10"></i>Candidature active</p>
                <% when c.abandonned? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-stop text-grey-light mr-10"></i>Candidature écartée</p>
                <% when c.validated? %>
                  <p class="fw-4 fs-13"><i class="fa-solid fa-eject text-flag-3 mr-10"></i>Mission validée</p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
