<%= render partial: "shared/navpan", locals: {active: 9} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Liste des adresses email autorisées</h3>
    <p>Liste des adresses email autorisées à créer un compte rattaché à <strong class="fw-6 text-main"><%= @company.name %></strong></p>
  </div>

  <%= render partial: "admin/company_edit_menu" %>

  <div class="navpan-white-ctn">
    <div>
      <div class="d-flex">
        <div class="mr-40">
          <div class="mb-20">
            <h6 class="mb-10">Noms de domaine autorisés</h6>
            <% @whitelists.where(input_type: "domain").each do |w| %>
              <div class="max-w-400 w-100 bg-shade mb-10 p-10 flex-center-between">
                <p><%= w.input_format %></p>
                <div>
                  <% if w.catch_all %>
                    <i class="fa-solid fa-users text-flag-3"></i>
                  <% else %>
                    <i class="fa-solid fa-user text-flag-1"></i>
                  <% end %>
                  <%= link_to admin_company_whitelist_path(company_id: w.company_id, id: w.id), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr.e de vouloir supprimer ?"} do %>
                    <i class="fa-solid fa-trash text-main ms-3 me-1"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <div class="mb-20">
            <h6 class="mb-10">Formats de mail autorisés</h6>
            <% @whitelists.where(input_type: "email").each do |w| %>
              <div class="max-w-400 w-100 bg-shade mb-10 p-10 flex-center-between">
                <p><%= w.input_format %></p>
                <%= link_to admin_company_whitelist_path(company_id: w.company_id, id: w.id), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr.e de vouloir supprimer ?"} do %>
                  <i class="fa-solid fa-trash text-main ms-3 me-1"></i>
                <% end %>
              </div>
            <% end %>
          </div>

        </div>
        <%= simple_form_for([@company, @whitelist], url: admin_company_whitelists_path) do |f| %>
          <%= f.input :input_type, collection: Whitelist.input_types.keys %>
          <%= f.input :input_format %>
          <%= f.input :input_custom %>
          <div class="position-relative mb-10">
            <%= f.input :catch_all, wrapper: false, input_html: {class: "toggle"} %>
          </div>
          <div class="position-relative mb-20">
            <%= f.input :pre_approval, wrapper: false, input_html: {class: "toggle"}  %>
          </div>
          <div class="flex-center-right">
            <%= f.submit "Ajouter", class: "button btn-main-color" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
