
<div class="ctn-resp pe-0 bg-white pt-50">

  <div class="d-flex login-form-ctn full-height-ctn">

    <div class="pt-50 pb-50 flex-shrink-0">
      <div class="mb-20">
        <h2>Bienvenue chez <span class="text-main fw-6">Demain</span></h2>
        <p>Il ne vous reste plus qu'à choisir un mot de passe pour finaliser votre inscription</p>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, data: { turbo: false } }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>
        <%= f.input :created_by_admin, as: :hidden, input_html: {value: true} %>

        <div class="input-with-2-icons mb-10 position-relative" data-controller="password">
          <%= f.input :password,
                      required: true,
                      wrapper: false,
                      label: "Mot de passe",
                      input_html: { autocomplete: "new-password", data: {"password-target": "input"} } %>
          <i class="fa-solid fa-lock"></i>
          <i class="fa-regular fa-eye-slash min-w-20 text-center" data-action="click->password#toggle"></i>
        </div>

        <div class="input-with-2-icons mb-20 position-relative" data-controller="password">
          <%= f.input :password_confirmation,
                      required: true,
                      wrapper: false,
                      label: "Confirmation",
                      input_html: { autocomplete: "new-password", data: {"password-target": "input"} } %>
          <i class="fa-solid fa-lock"></i>
          <i class="fa-regular fa-eye-slash min-w-20 text-center" data-action="click->password#toggle"></i>
        </div>

        <%= hidden_field_tag 'source', "edit" %>

        <button type="submit" class="fat-btn fat-btn-md w-100 fat-btn-main-color position-relative flex-center-between">
          <span></span>
          <strong>Connexion</strong>
          <i class="fa-solid fa-right-to-bracket round-button bg-white"></i>
        </button>

      <% end %>

    </div>

    <div class="bg-shade round-top-left login-img-ctn ml-50 flex-center w-100 sm-resp-hide p-20">
      <div>
        <%= image_tag('homepage.svg', class: "w-100 max-w-500") %>
      </div>
    </div>

  </div>
</div>
