<%= turbo_frame_tag "list", class: "w-100 max-w-300" do %>

  <%= render partial: "company_admin/shared/status_selector", locals: {statuses: Mission.clean_statuses, scope: @missions} %>

  <div class="mb-40">
    <% @missions.each do |mission| %>
      <div class="mb-10 w-100 flex-center-between">
        <%= link_to company_admin_activated_mission_path(mission, status: params[:status]), class: "w-100 h-100 flex-center-between p-10 bg-shade-to-light hover-2", data: {active_card: mission == @mission, turbo: false} do %>
          <div class="flex-center-between w-100">
            <div class="pe-none overflow-hidden">
              <h6><%= mission.offer.beneficiary.name %></h6>
              <p class="text-ellipsis"><%= mission.offer.title %></p>
            </div>
            <i class="fa-solid fa-circle-play text-flag-3"></i>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
