<div class="company-menu fs-15">
  <div>
    <div class="w-100 position-relative flex-center mb-10">
      <% if current_user.company.logo.attached? %>
        <div class="bg-white round-20 square-100 flex-center shadow-sm p-10">
          <%= cl_image_tag(current_user.company.logo.key, class:"w-100") %>
        </div>

      <% end %>
    </div>
    <div class="w-100 flex-center mb-40">
      <h6 class="button-round bg-flag-1 text-white">Admin</h6>
    </div>

    <div class="mb-20">
      <%= link_to "Accueil", company_admin_path, data: {active: @tab == 0} %>
      <%= link_to "Parcourir les missions", company_admin_offers_path, data: {active: @tab == 1} %>
      <%= link_to "Gérer les accès", company_admin_whitelists_path, data: {turbo: false, active: @tab == 2} %>
    </div>
    <div class="mb-20">
      <h6 class="fw-6 no-wrap">Approbations</h6>
      <%= link_to "Demandes d'éligibilité", company_admin_employee_applications_path, data: {active: @tab == 3} %>
      <%= link_to "Candidatures missions", company_admin_candidacies_path, data: {active: @tab == 4} %>
    </div>
    <div class="mb-20">
      <h6 class="fw-6 no-wrap">Suivi des missions</h6>
      <%= link_to "Contractualisation", company_admin_missions_path, data: {active: @tab == 5} %>
      <%= link_to "Reporting", "", data: {active: @tab == 10} %>
    </div>
  </div>
</div>
