<div class="company-navbar ctn-resp-tight">
  <%= image_tag("logo_dark.svg", class: "sm-logo", alt: "Logo Demain") %>
  <%= link_to destroy_user_session_path, method: :delete, class: "sm-thin-text" do %>
    <i class="fa-solid fa-right-from-bracket"></i>
    déconnexion
  <% end %>
</div>

<div class="company-menu">
  <%= link_to "Accueil", company_admin_path %>
  <%= link_to "Recherche", company_admin_offers_path %>
  <%= link_to "Utilisateurs", company_admin_users_path %>
  <%= link_to "Demandes", company_admin_employee_applications_path %>
</div>
