<div class="company-navbar ctn-resp-tight">
  <%= image_tag("logo_dark.svg", class: "sm-logo", alt: "Logo Demain") %>
  <%= link_to destroy_user_session_path, method: :delete, class: "sm-thin-text" do %>
    <i class="fa-solid fa-right-from-bracket"></i>
    déconnexion
  <% end %>
</div>

<div class="company-menu">
  <div class="w-100 position-relative flex-center mb-10">
    <% if current_user.company.logo.attached? %>
      <div class="logo-box downsize90 round-20">
        <%= cl_image_tag(current_user.company.logo.key) %>
      </div>
    <% end %>
  </div>
  <div class="w-100 flex-center mb-40">
    <h6 class="button-round bg-flag-1 text-white">Admin</h6>
  </div>

  <div class="mb-20">
    <%= link_to "Accueil", company_admin_path %>
    <%= link_to "Recherche", company_admin_offers_path %>
  </div>
  <div>
    <%= link_to "Utilisateurs", company_admin_whitelists_path, data: {turbo: false} %>
    <%= link_to "Eligibilité", company_admin_employee_applications_path %>
    <%= link_to "Candidatures", company_admin_candidacies_path %>
    <%= link_to "Missions", company_admin_missions_path %>
  </div>
</div>
