<div class="ctn-resp pt-5 pb-5 dark-bg">
  <div class="flex-resp full-width max-width-750 justify-content-between">

    <%= image_tag("logowhite.svg", class: "sm-logo mg-resp-r mb-5") %>

    <div class="mg-resp-l mg-resp-r mb-3">
      <h6 class="white-text mb-3">Notre service</h6>
      <div class="d-flex flex-column">
        <%= link_to "Associations", nonprofits_path, class: "white-link mb-1" %>
        <%= link_to "Entreprises", companies_path, class: "white-link mb-1" %>
        <%= link_to "Candidat·e·s", candidates_path, class: "white-link mb-1" %>
      </div>
    </div>

    <div class="mg-resp-l mg-resp-r mb-3">
      <h6 class="white-text mb-3">Demain</h6>
      <div class="d-flex flex-column">
        <%= link_to "A propos de nous", about_path, class: "white-link mb-1" %>
        <%= link_to "Mentions légales", legal_path, class: "white-link mb-1" %>
        <%= link_to "CGU", terms_path, class: "white-link mb-1" %>
      </div>
    </div>

    <div class="mg-resp-l mb-3">
      <h6 class="white-text mb-3">Nous suivre</h6>
      <div class="d-flex flex-column">
        <%= link_to "Nos actualités", blog_path, class: "white-link mb-1" %>
        <a href="https://www.linkedin.com/company/demain-works/" class="white-link mb-1"><i class="fa-brands fa-linkedin-in pe-2"></i> LinkedIn</a>
        <a href="mailto:contact@demain.works" class="white-link"><i class="fa-solid fa-envelope pe-2"></i> Contact</a>
      </div>
    </div>
  </div>
</div>
