<div class="ctn-resp pt-5 pb-5 bg-main">
  <div class="flex-resp">

    <div class="mb-2-resp max-w-500 flex-shrink-1">
      <%= image_tag("logo_white.svg", class: "sm-logo mg-resp-r mb-4", alt:"logo Demain clair") %>
      <p class="text-white pb-3 pe-5">L'engagement associatif sur son temps de travail : pour ne plus avoir à choisir entre un job qui paye et un job qui compte !</p>
    </div>

    <div class="flex-resp full-width max-w-500 footer-flex", data-turbo="false">

      <% if Subdomain.new("generic").matches?(request) %>
        <div class="mg-resp-l mg-resp-r mb-4 full-width">
          <h6 class="text-white mb-4">NOS SERVICES</h6>
          <div class="d-flex flex-column">
            <%= link_to "Candidat·e·s", candidates_path, class: "white-link mb-2" %>
            <%= link_to "Entreprises", companies_path, class: "white-link mb-2" %>
            <%= link_to "Associations", nonprofits_path, class: "white-link mb-2" %>
          </div>
        </div>
      <% end %>

      <div class="mg-resp-l mg-resp-r mb-4 full-width">
        <h6 class="text-white mb-4">DEMAIN</h6>
        <div class="d-flex flex-column">
          <%= link_to "A propos de nous", about_path, class: "white-link mb-2" %>
          <%= link_to "Mentions légales", legal_path, class: "white-link mb-2" %>
          <%= link_to "CGU", terms_path, class: "white-link mb-2" %>
          <%= link_to "Politique de confidentialité", privacy_policy_path, class: "white-link mb-2" %>
        </div>
      </div>

      <div class="mg-resp-l mb-4 full-width">
        <h6 class="text-white mb-4">NOUS SUIVRE</h6>
        <div class="d-flex flex-column">
          <%= link_to "🙌 Blog Demain", posts_url, target: "blank", class: "white-link mb-2" %>
          <a href="https://www.linkedin.com/company/demain-works/" target="blank" class="white-link mb-2"><i class="fa-brands fa-linkedin-in pe-2"></i> LinkedIn</a>
          <a href="mailto:contact@demain.works" class="white-link"><i class="fa-solid fa-envelope pe-2"></i> Contact</a>
        </div>
      </div>

    </div>
  </div>
</div>
