<div data-controller="menu">
  <i class="fa-solid fa-bars burger-icon" data-menu-target="icon" data-action="click->menu#toggle"></i>
  <nav class="menu" data-menu-target="nav" >
    <div>
      <%= link_to root_path do %>
        <%= image_tag("logowhite.svg", class: "sm-logo") %>
      <% end %>

      <div class="tabs-ctn">
        <%= link_to "Voir les offres", offers_path, class: "button-round btn-white-on-main" %>

        <%= link_to "Blog", blog_path, class: "white-link ms-3" %>

        <div class="tabs">
          <div class="dropdown">
            <div class="carret">
              <i class="fa-solid fa-angle-right"></i>
            </div>
            <h6 class="white-text ms-1">En savoir plus</h6>
          </div>
          <div class="dropdown-tabs">
            <%= link_to "Associations", nonprofits_path, class:"white-link" %>
            <%= link_to "Candidat·e·s", candidates_path, class:"white-link" %>
            <%= link_to "Entreprises", companies_path, class:"white-link" %>
            <%= link_to "A propos", about_path, class:"white-link" %>
          </div>
        </div>

      </div>

      <% if user_signed_in? %>
        <div class="d-flex align-items-center">
          <div class="user-nav-box">
            <p style="color: white">👋 Bonjour <span style="font-weight: 500"><%= current_user.first_name %></span> !</p>
            <div>
              <% if current_user.candidate.blank? %>
                <%= link_to new_candidate_path, class: "white-link sm-thin-text", id: "profile-link" do %>
                  <i class="fa-solid fa-user me-1"></i>
                  profil
                <% end %>
              <% else %>
                <% if current_user.candidate.info_missing? %>
                  <%= link_to candidate_path(current_user.candidate), class: "white-link sm-thin-text", data: {'action': 'click->menu#popup' } do %>
                    <i class="fa-solid fa-user me-1"></i>
                    profil
                  <% end %>
                <% else %>
                  <%= link_to candidate_path(current_user.candidate), class: "white-link sm-thin-text" do %>
                    <i class="fa-solid fa-user me-1"></i>
                    profil
                  <% end %>
                <% end %>
              <% end %>
              <span class="ms-2 me-2 white-text">|</span>
                <%= link_to edit_user_registration_path, class: "white-link sm-thin-text" do %>
                  <i class="fa-solid fa-gear me-1"></i>
                  compte
              <% end %>
              <span class="ms-2 me-2 white-text">|</span>
              <%= link_to destroy_user_session_path, method: :delete, class: "white-link sm-thin-text" do %>
                <i class="fa-solid fa-right-from-bracket me-1"></i>
                déconnexion
              <% end %>

            </div>
          </div>
          <% if current_user.user_type == 'admin' %>
            <%= link_to admin_path, class: "round-button btn-admin-cta ms-3" do %>
              <i class="fa-solid fa-gear"></i>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "button btn-main-color"%>
      <% end %>
    </div>
  </nav>

  <% if user_signed_in? %>
    <% if current_user.candidate.present? %>
      <% if current_user.candidate.info_missing? %>
        <%= render partial: "candidates/min_info" %>
      <% end %>
    <% end %>
  <% end %>

</div>
