<div data-controller="menu">
  <i class="fa-solid fa-bars burger-icon" data-menu-target="icon" data-action="click->menu#toggle"></i>

  <nav class="menu ctn-resp" data-menu-target="nav">
    <div class="h-100 flex-center-between md-resp-flex-col", data-turbo="false">
      <%= link_to root_path do %>
        <%= image_tag("logo_dark.svg", class: "sm-logo", alt: "Logo Demain") %>
        <%= image_tag("logo_white.svg", class: "xl-logo", alt: "Logo Demain") %>
      <% end %>

      <div class="flex-center-between md-resp-flex-col">
        <% if Subdomain.new("generic").matches?(request) %>
          <div class="d-flex md-resp-flex-col">
            <%= link_to root_path, class:"flex-center p-10", data: {"active-tab": action_name == 'home'} do %>
              <i class="fa-solid fa-house-chimney">
                <span></span>
              </i>
            <% end %>
            <%= link_to offers_path do %>
              <div class="tab flex-center p-10" data-active-tab=<%= controller_name == 'offers' || controller_name == 'candidacies' %>>
                Je m'engage
                <span></span>
              </div>
            <% end %>
            <%= link_to companies_path do %>
              <div class="tab flex-center p-10" data-active-tab=<%= action_name == 'companies' %>>
                Entreprises
                <span></span>
              </div>
            <% end %>
            <%= link_to nonprofits_path do %>
              <div class="tab flex-center p-10" data-active-tab=<%= action_name == 'nonprofits' %>>
                Associations
                <span></span>
              </div>
            <% end %>
          </div>
        <% end %>

        <% if user_signed_in? %>
          <div class="d-flex align-items-center">
            <div class="user-nav-box ml-20 md-resp-ml-0 md-resp-mt-40">
              <p>👋 Bonjour <span style="font-weight: 500"><%= current_user.first_name %></span> !</p>
              <div>
                <% if current_user.candidate.blank? || !current_user.candidate.profile_completed %>
                  <%= link_to new_candidate_path, class: "sm-thin-text", id: "profile-link" do %>
                    <i class="fa-solid fa-user me-1"></i>
                    profil
                  <% end %>
                <% else %>
                  <%= link_to candidate_path(current_user.candidate), class: "sm-thin-text" do %>
                    <i class="fa-solid fa-user me-1"></i>
                    profil
                  <% end %>
                <% end %>
                <span class="text-white">|</span>
                  <%= link_to edit_user_registration_path, class: "sm-thin-text" do %>
                    <i class="fa-solid fa-gear me-1"></i>
                    compte
                <% end %>
                <span class="text-white">|</span>
                <%= link_to destroy_user_session_path, method: :delete, class: "sm-thin-text" do %>
                  <i class="fa-solid fa-right-from-bracket"></i>
                  déconnexion
                <% end %>

              </div>
            </div>
            <% if current_user.admin? %>
              <%= link_to admin_path, class: "round-button btn-admin-cta ms-3" do %>
                <i class="fa-solid fa-gear"></i>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <%= link_to "Connexion", new_user_session_path, class: "button-round btn-light-main"%>
        <% end %>

      </div>


    </div>
  </nav>
</div>
