<% if user_signed_in? %>

  <nav class="menu-fixed">
    <div class="tabs">
      <%= link_to "Associations", nonprofits_path %>
      <%= link_to "Candidats", candidates_path %>
      <%= link_to "Entreprises", companies_path %>
      <%= link_to "A propos", about_path %>
      <%= link_to "Offres", offers_path %>
    </div>

    <%= link_to root_path do %>
      <%= image_tag("logowhite.svg", class: "sm-logo") %>
    <% end %>

    <div class="text-end">
      <p style="color: white">👋 Bonjour <span style="font-weight: 500"><%= current_user.first_name %></span> !</p>
      <%= link_to "se déconnecter", destroy_user_session_path, method: :delete, class: "white-link sm-thin-text" %>
    </div>
  </nav>

<% else %>

  <nav class="menu" data-controller="menu">

    <i class="fa-solid fa-bars menu-icon" data-menu-target="icon" data-action="click->menu#toggle"></i>

    <div class="tabs">
      <%= link_to "ASSOCIATIONS", nonprofits_path %>
      <%= link_to "CANDIDATS", candidates_path %>
      <%= link_to "ENTREPRISES", companies_path %>
      <%= link_to "A PROPOS", about_path %>
      <%= link_to "OFFRES", offers_path %>

    </div>

    <%= link_to root_path do %>
      <%= image_tag("logowhite.svg", class: "sm-logo") %>
    <% end %>

  </nav>

<% end %>
