<div class="navpan">
  <%= link_to 'Dashboard', admin_path , class:"white-link", data: {"active": active == 0} %>
  <p class="white-line mt-2 mb-2"></p>

  <%= link_to 'Utilisateurs', admin_users_path, class:"white-link", data: {"active": active == 8} %>
  <%= link_to 'Candidats', admin_candidates_path, class:"white-link", data: {"active": active == 6} %>
  <%= link_to 'Candidatures', admin_candidacies_path, class:"white-link", data: {"active": active == 3} %>
  <p class="white-line mt-2 mb-2"></p>

  <%= link_to 'Bénéficiaires', admin_beneficiaries_path, class:"white-link", data: {"active": active == 1} %>
  <%= link_to 'Offres', admin_offers_path, class:"white-link", data: {"active": active == 2} %>
  <%= link_to 'Listes', admin_offer_lists_path, class:"white-link", data: {"active": active == 7}  %>
  <p class="white-line mt-2 mb-2"></p>

  <%= link_to 'Entreprises', admin_companies_path, class:"white-link", data: {"active": active == 9} %>
  <%= link_to 'Missions', admin_missions_path, class:"white-link", data: {"active": active == 10} %>
  <p class="white-line mt-2 mb-2"></p>

  <%= link_to 'Contacts', admin_contacts_path, class:"white-link", data: {"active": active == 4} %>
  <%= link_to 'Articles', admin_posts_path, class:"white-link", data: {"active": active == 5} %>
</div>
