<% args = @selection.id.nil? ? [@offer, @selection] : @selection %>
<% method = @selection.id.nil? ? :post : :patch %>
<% status = @selection.id.nil? ? true : !@selection.active %>

<% if @selection.suggestion? %>
  <h5>Cette mission vous a été recommandée !</h5>
<% else %>
  <% url = @selection.id.nil? ? user_offer_bookmarks_path(@offer) : user_bookmark_path(@selection) %>
  <% label = @selection.id.nil? || !@selection.active ? "Ajouter aux <3" : "Retirer des <3" %>

  <%= simple_form_for(args, url: url, method: method, data: {turbo: false}) do |f| %>
    <%= f.input :active, as: :hidden, input_html: {value: status} %>
    <%= render partial: "company_user/shared/bookmark", locals: {resource: @selection} %>
  <% end %>
<% end %>


<% if current_user.eligibility_on_going? %>
  <% url = @selection.id.nil? ? user_offer_candidacies_path(@offer) : user_offer_candidacy_path(@offer, @selection) %>
  <h5 class="text-main fw-6 mt-20 mb-10">Candidater</h5>
  <%= simple_form_for(args, url: url, data: {turbo: false}) do |f| %>
    <div class="position-relative">
      <%= f.input :motivation_msg, wrapper: false, label: false, input_html: {value: ""}, placeholder: "Indiquez vos motivations à l'association" %>
    </div>
    <%= f.input :status, as: :hidden, input_html: {value: "user_application"} %>
    <button type="submit" class="btn-main-color round-10 text-white square-40 w-100 flex-center">
      <i class="fa-regular fa-paper-plane mr-10"></i>
      Envoyer à l'association
    </button>
  <% end %>
<% end %>
