<%= turbo_frame_tag "selection" do %>
  <% case %>
  <% when @selection.id.nil? %>
    <%= simple_form_for([@offer, @selection], url: user_offer_bookmarks_path(@offer), turbo_method: :post) do |f| %>
      <%= f.input :active, as: :hidden, wrapper: false, input_html: {value: true} %>
      <button type="submit" class="flex-center bg-none bn-none upsize-120 hover-2 p-0">
        <i class="fa-regular fa-heart text-flag-2 fs-18"></i>
      </button>
    <% end %>

  <% when @selection.selection? %>
    <%= button_to user_bookmark_path(@selection), method: :delete, class: "flex-center bg-none bn-none upsize-120 hover-2 p-0" do %>
      <i class="fa-solid fa-heart text-flag-2 fs-18"></i>
    <% end %>

  <% when @selection.suggestion? %>
    <%= link_to user_selection_path(@selection), data: {turbo: false}, class: "flex-center bg-none bn-none upsize-120 hover-2" do %>
      <i class="fa-solid fa-fire text-flag-1"></i>
    <% end %>

  <% when @selection.disliked? %>
    <%= link_to user_selection_path(@selection), data: {turbo: false}, class: "flex-center bg-none bn-none upsize-120 hover-2" do %>
      <i class="fa-solid fa-fire text-grey-light"></i>
    <% end %>
  <% end %>
<% end %>
