<div id="on-boarding-complete" class="mb-40 max-w-750" data-controller="popup">
  <h5 class="text-main fw-6 mb-20">👋 Bonjour <%= current_user.first_name %> !</h5>

  <div class="mb-30">
    <h6 class="mb-10">Bienvenue chez Demain</h6>
    <p><%= current_user.company.name %> vous permet de mettre vos compétences professionnelles au service d'une association.</p>
  </div>

  <div class="mb-30">
    <h6 class="mb-10">Pour démarrer</h6>
    <p>Nous vous invitons à compléter votre profil et votre demande auprès de <%= current_user.company.name %>. Demain vous aidera ensuite à trouver la mission qui vous correspond !</p>
  </div>

  <div class="on-boarding-grid p-30 on-boarding-cards">
    <div class="flex-center center-text flex-col p-10 position-relative shadow-xs" data-active=<%=@active_step == 1%> data-validated=<%=@active_step > 1%>>
      <% if @active_step > 1 %>
        <%= image_tag('valid.svg', class:"position-absolute") %>
      <% end %>
      <%= link_to "", user_profile_path, class:"h-100 w-100 position-absolute" %>
      <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">1</h5>
      <h6>Je complète mon profil</h6>
    </div>
    <div class="flex-center center-text flex-col p-10 position-relative shadow-xs" data-active=<%=@active_step == 2%> data-validated=<%=@active_step > 2%>>
      <% if @active_step > 2 %>
        <%= image_tag('valid.svg', class:"position-absolute") %>
      <% end %>
      <%= link_to "", new_user_employee_application_path, class:"h-100 w-100 position-absolute" %>
      <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">2</h5>
      <h6>Je demande à mon entreprise</h6>
    </div>
    <div class="flex-center center-text flex-col p-10 position-relative shadow-xs" data-active=<%=@active_step == 3%> data-validated=<%=@active_step > 3%>>
      <% if @active_step > 3 %>
        <%= image_tag('valid.svg', class:"position-absolute") %>
      <% end %>
      <% unless current_user.never_applied? %>
        <%= link_to "", user_employee_application_path(current_user.last_employee_application), class:"h-100 w-100 position-absolute", data: {turbo_frame: "modal"} %>
      <% end %>
      <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">3</h5>
      <h6>Mon entreprise valide</h6>
    </div>
    <div class="flex-center center-text flex-col p-10 position-relative shadow-xs" data-controller="calendly" data-calendly-email-value=<%= current_user.email %> data-calendly-name-value=<%= current_user.first_name %> data-active=<%=@active_step == 4%> data-validated=<%=@active_step > 4%>>
      <% if @active_step > 4 %>
        <%= image_tag('valid.svg', class:"position-absolute") %>
      <% end %>
      <%= link_to "", "", class:"h-100 w-100 position-absolute", data: {action: "click->calendly#popup"} %>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <!-- Calendly link widget end -->
      <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">4</h5>
      <h6>J'échange avec Demain</h6>
    </div>
    <span></span>
  </div>

  <div class="w-100">
    <%= link_to "En savoir plus sur le dispositif", user_info_path, class:"button round bg-main-to-dark text-white center-margin" %>
  </div>

  <%= turbo_frame_tag "modal" %>
</div>
