<div id="on-boarding-complete" class="mb-40 max-w-750" data-controller="popup">
  <h5 class="text-main fw-6 mb-20">👋 Bonjour <%= current_user.first_name %> !</h5>

  <div class="mb-30">
    <h6 class="mb-10">Bienvenue chez Demain</h6>
    <p><%= current_user.company.name %> vous permet de mettre vos compétences professionnelles au service d'une association.</p>
  </div>

  <div class="mb-30">
    <h6 class="mb-10">Pour démarrer</h6>
    <p>Nous vous invitons à compléter votre profil et votre demande auprès de <%= current_user.company.name %>. Demain vous aidera ensuite à trouver la mission qui vous correspond !</p>
  </div>

  <div class="on-boarding-grid p-30 on-boarding-cards">

    <div class="slide-up-ctn shadow-xs position-relative overflow-hidden" data-active=<%=@active_step == 1%> data-validated=<%=@active_step > 1%>>
      <%= link_to "", user_profile_path, class:"h-100 w-100 position-absolute" %>
      <div class="flex-center center-text flex-col p-10 h-100">
        <% if @active_step > 1 %>
          <%= image_tag('valid.svg', class:"position-absolute") %>
        <% end %>
        <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">1</h5>
        <h6>Je complète mon profil</h6>
      </div>
      <div class="pe-none w-100 h-100 flex-center position-absolute bg-main slide-up-target hover-2 text-white">
        <p class="center-text fs-14 p-05">Votre profil permettra à Demain de vous aider à trouver une association et une mission</p>
      </div>
    </div>

    <div class="slide-up-ctn shadow-xs position-relative overflow-hidden" data-active=<%=@active_step == 2%> data-validated=<%=@active_step > 2%>>
      <%= link_to "", new_user_employee_application_path, class:"h-100 w-100 position-absolute" %>
      <div class="flex-center center-text flex-col p-10 h-100">
        <% if @active_step > 2 %>
          <%= image_tag('valid.svg', class:"position-absolute") %>
        <% end %>
        <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">2</h5>
        <h6>Je demande à mon entreprise</h6>
      </div>
      <div class="pe-none w-100 h-100 flex-center position-absolute bg-main slide-up-target hover-2 text-white">
        <p class="center-text fs-14 p-05">Informez <%= current_user.company.name %> de votre intention de réaliser une mission pour une association</p>
      </div>
    </div>

    <div class="slide-up-ctn shadow-xs position-relative overflow-hidden" data-active=<%=@active_step == 3%> data-validated=<%=@active_step > 3%>>
      <%= link_to "", new_user_employee_application_path, class:"h-100 w-100 position-absolute" %>
      <div class="flex-center center-text flex-col p-10 h-100">
        <% if @active_step > 3 %>
          <%= image_tag('valid.svg', class:"position-absolute") %>
        <% end %>
        <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">3</h5>
        <h6>Mon entreprise valide</h6>
      </div>
      <div class="pe-none w-100 h-100 flex-center position-absolute bg-main slide-up-target hover-2 text-white">
        <p class="center-text fs-14 p-05"><%= current_user.company.name %> valide votre demande et vous autorise à candidater auprès d'associations</p>
      </div>
    </div>


    <div class="slide-up-ctn shadow-xs position-relative overflow-hidden" data-controller="calendly" data-calendly-email-value=<%= current_user.email %> data-calendly-name-value=<%= current_user.first_name %> data-active=<%=@active_step == 4%> data-validated=<%=@active_step > 4%>>
      <%= link_to "", "", class:"h-100 w-100 position-absolute", data: {action: "click->calendly#popup"} %>
        <!-- Calendly link widget begin -->
        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
        <!-- Calendly link widget end -->
      <div class="flex-center center-text flex-col p-10 h-100">
        <% if @active_step > 4 %>
          <%= image_tag('valid.svg', class:"position-absolute") %>
        <% end %>
        <h5 class="round fs-25 flex-center square-40 fw-7 mb-10">4</h5>
        <h6>J'échange avec Demain</h6>
      </div>
      <div class="pe-none w-100 h-100 flex-center position-absolute bg-main slide-up-target hover-2 text-white">
        <p class="center-text fs-14 p-05">Programmez un call avec un conseiller Demain qui vous accompagnera dans vos démarches !</p>
      </div>
    </div>
    <span></span>
  </div>

  <div class="w-100">
    <%= link_to "En savoir plus sur le dispositif", user_info_path, class:"button round bg-main-to-dark text-white center-margin" %>
  </div>

  <%= turbo_frame_tag "modal" %>
</div>
