<div class="modal-bg" data-contact-target="window" data-modal-target="window" data-action="click->modal#close">
  <div class="modal-inner" data-action="click->modal#keep">
    <div class="d-flex justify-content-between form-header">
      <h5>Indiquez-nous vos coordonnées</h5>

      <h5 class="close-btn"><a href="" data-modal-target="close" data-action="click->modal#close"><i class="fa-solid fa-xmark"></i></a></h5>
    </div>
    <div class="modal-body">
      <div>
        <%= simple_form_for(@contact) do |f| %>
          <div class="form-wrapper">
            <h6 class="inline-label">Prénom</h6>
            <%= f.input :first_name,
                        label: false,
                        wrapper: false,
                        placeholder: "Greta",
                        class: "inline-field" %>
          </div>
          <p id="first_name_errors" class="sm-red-msg"></p>
          <div class="form-wrapper">
            <h6 class="inline-label">Nom</h6>
            <%= f.input :last_name,
                        label: false,
                        wrapper: false,
                        placeholder: "Thunberg",
                        class: "inline-field" %>
          </div>
          <p id="last_name_errors" class="sm-red-msg"></p>
          <div class="form-wrapper">
            <h6 class="inline-label">E-Mail</h6>
            <%= f.input :email,
                        label: false,
                        wrapper: false,
                        placeholder: "greta@demain.works",
                        class: "inline-field" %>
          </div>
          <p id="email_errors" class="sm-red-msg"></p>
          <div class="form-wrapper">
            <h6 class="inline-label">Organisation</h6>
            <%= f.input :organization,
                        label: false,
                        wrapper: false,
                        placeholder: "Nom de la structure",
                        class: "inline-field" %>
          </div>
          <p id="organization_errors" class="sm-red-msg"></p>
          <div class="form-wrapper radio-box align-items-start">
            <h6 class="inline-label">Vous êtes</h6>
              <%= f.input :contact_type,
                          label:'Vous êtes un/une :',
                          collection: [['Association', "Acteur de l'ESS"], ['Candidat', '(Candidat.e, salarié.e ou freelance'], ['Entreprise', 'Une entreprise']],
                          label_method: :last,
                          value_method: :first,
                          as: :radio_buttons,
                          item_wrapper_class: "radio-button-ctn" %>
          </div>
          <p id="contact_type_errors" class="sm-red-msg"></p>
          <div class="form-wrapper mb-3  align-items-start">
            <h6 class="inline-label">Votre message</h6>
            <%= f.input :message,
                        label: false,
                        wrapper: false,
                        placeholder: "N'hésitez pas a nous en dire un peu plus",
                        class: "inline-field" %>
          </div>
          <div class="submission">
              <%= recaptcha_tags %>
              <button type="submit" class="button btn-main-color mt-3">Enregistrer</button>
          </div>
          <p id="errors" class="sm-red-msg"></p>
          <p id="robot" class="sm-red-msg"></p>

        <% end %>
      </div>
    </div>
  </div>
</div>
