<% content_for :title, "Entreprises : le mécénat de compétences à la main des collaborateurs" %>
<% content_for :description, "Demain place vos collaborateurs au centre de l'action sociétale de l'entreprise. Nous offrons une réponse individualisée aux questions de sens et d'équilibre, et aux envies d’engagement solidaire moyenne et longue durée de vos talents" %>
<% canonical(companies_url) %>

<div data-controller="swipe" data-action="click->swipe#refocus" data-focus="0">

  <div class="bg-white pt-5 pb-5">
    <div class="ctn-resp flex-resp early-resp-900 justify-content-between align-items-center pt-4 pb-2">
      <div class="big-title-resp full-width max-w-500" data-controller="contact">
        <h1 class="d-none">Entreprises : le mécénat de compétences à la main des collaborateurs</h1>
        <h2 class="text-main mb-3">entreprises</h2>
        <h4 class="mb-3">permettez à vos talents en quête d'équilibre et de sens au travail de porter des initiatives à fort impact sociétal</h4>
        <div class="mt-4" data-controller="contact">
          <div class="d-flex">
            <%= link_to '', class: "fat-btn fat-btn-main-color position-relative flex-center-between", data: {action: "click->contact#popup"} do %>
              <span></span>
              <strong>Nous contacter</strong>
              <i class="fa-solid fa-phone round-button bg-white"></i>
            <% end %>
          </div>
          <%= render partial: "pages/contact" %>
        </div>
      </div>
      <div class="round-20 pt-2 pb-2 max-w-500">
        <%= image_tag("companies_illustration.svg", class: "full-width", alt: "entreprise permettant à une employée de s'engager associativement") %>
      </div>
    </div>
  </div>

  <div class="ctn-resp bg-grey pt-50 pb-50">
    <div class="button-menu-ctn resp-img-ctn">
      <%= image_tag('target_illustration.svg', class:"max-w-200 mr-50 md-resp-mr-0 left") %>
      <div>
        <h3 class="mb-20">Le mécénat de compétences de <span class="text-main fw-7">Demain</span></h3>
        <div data-controller="button-menu" data-swipe-target="ctn" data-focus="0">
          <div class="flex-center-left button-menu pb-20">
            <button class="hover-2" data-button-menu-target="button" data-swipe-target="card" data-action="click->button-menu#update" data-status="active">mécénat métier</button>
            <button class="hover-2" data-button-menu-target="button" data-swipe-target="card" data-action="click->button-menu#update" data-status="">dans la durée</button>
            <button class="hover-2" data-button-menu-target="button" data-swipe-target="card" data-action="click->button-menu#update" data-status="">particularisé</button>
            <button class="hover-2" data-button-menu-target="button" data-swipe-target="card" data-action="click->button-menu#update" data-status="">auto-déterminé</button>
          </div>
          <div>
            <div data-button-menu-target="content" data-status="active">
              <h6 class="mb-20 mt-10">Les compétences font la différence.</h6>
              <p>Les missions proposées par Demain font appel à des compétences tech, RH, sales ou encore juridiques, courantes en entreprises mais souvent difficiles d’accès pour les associations.</p>
            </div>
            <div data-button-menu-target="content" data-status="">
              <h6 class="mb-20 mt-10">Sans effort soutenu : pas d’impact réel !</h6>
              <p>Les compétences d’un seul de vos talents pendant 20 jours peuvent avoir bien plus d'impact en association que 20 collaborateurs sur une seule journée. C’est pourquoi Demain propose des missions qui peuvent nécessiter quelques jours par mois à plusieurs par semaine.</p>
            </div>
            <div data-button-menu-target="content" data-status="">
              <h6 class="mb-20 mt-10">S’engager, c’est pas pour tout le monde !</h6>
              <p>Les envies en matière d’engagement associatif diffèrent largement parmi vos collaborateurs. Pourquoi leur proposer une solution à taille unique ? Demain offre un parcours individualisé d’accompagnement vers l’engagement qui correspond à chacun.</p>
            </div>
            <div data-button-menu-target="content" data-status="">
              <h6 class="mb-20 mt-10">Laissez vos collaborateurs décider !</h6>
              <p>S’engager pour une cause relève d’une démarche très personnelle. Capitalisez là-dessus en permettant à vos talents de décider du projet associatif qu’ils soutiennent.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ctn-resp bg-white pt-50 pb-50">
    <div class="resp-img-ctn mb-100">
      <div class="w-100">
        <h3 class="mb-20">Une démarche à double impact</h3>
        <p>Une initiative RH différenciante à fort impact sociétal, et qui bénéficie des avantages fiscaux du mécénat</p>
      </div>
      <%= image_tag('match_illustration.svg', class:"max-w-200 ml-50 md-resp-ml-0 right") %>
    </div>
    <div class="flex-stretch-center resp-card-ctn" data-controller="button-menu">

      <div class="mr-50 sm-resp-mr-0">
        <button class="round square-80 fs-30 fw-6 bg-shade text-main btn-l" data-button-menu-target="button" data-action="click->button-menu#update" data-status="active">RH</button>
        <div class="round-20 grey-border shadow-xl p-40 pt-80 max-w-400 h-100" data-button-menu-target="content" data-status="active">
          <div class="d-flex">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-1 fs-25 va-top"></i>
            <span>Motivation, rétention et prévention des risques psycho-sociaux</span>
          </div>
          <div class="d-flex mt-10 mb-10">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-2 fs-25 va-top"></i>
            <span>Développement des compétences – soft skills en particulier</span>
          </div>
          <div class="d-flex">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-3 fs-25 va-top"></i>
            <span>Optimisation de la masse salariale et déduction fiscale (60% du coût de revient)</span>
          </div>
        </div>
      </div>

      <div>
        <button class="round square-80 fs-30 fw-6 bg-shade text-main btn-r" data-button-menu-target="button" data-action="click->button-menu#update" data-status="">RSE</button>
        <div class="round-20 grey-border shadow-xl p-40 pt-80 max-w-400 h-100" data-button-menu-target="content">
          <div class="d-flex">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-1 fs-25 va-top"></i>
            <span>Attractivité / marque employeur, regain de sens au travail</span>
          </div>
          <div class="d-flex mt-10 mb-10">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-2 fs-25 va-top"></i>
            <span>Communication sur un engagement RSE concret</span>
          </div>
          <div class="d-flex">
            <i class="fa-regular fa-circle-check min-w-40 text-flag-3 fs-25 va-top"></i>
            <span>Sensibilisation / valorisation du mécénat et impact positif sur la culture interne</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="bg-white">
    <%= image_tag('purple_triangle_light.svg', class: "tilted-ctn") %>
  </div>

  <div class="bg-shade ctn-resp pt-50 pb-50">
    <h3 class="mb-10"><span class="center-text text-main fw-7">Demain</span> vous accompagne</h3>
    <p class="mb-40">Notre objectif : vous simplifier la mise en place et le suivi de mécénats de compétences grâce à un service sur-mesure et clé-en-main, sans déploiement ni contrainte technique</p>
    <div class="flex-between md-resp-flex-col pb-50">

      <div class="screenshot-menu w-100 mr-40 md-resp-mr-0 md-resp-mb-40" data-controller="button-menu">
        <div>
          <button class="mb-20" data-button-menu-target="button" data-status="active" data-action="click->button-menu#update">
            <h5 class="pe-none fs-25">01</h5>
            <h5 class="pe-none">Calibrage</h5>
          </button>
          <div data-button-menu-target="content" data-status="active">
            <p class="mb-10">identification & on-boarding des collaborateurs intéressés</p>
            <p>entretien & matching avec des besoins associatifs pré-qualifiés</p>
          </div>
        </div>
        <div class="mt-20 mb-20">
          <button class="mb-20" data-button-menu-target="button" data-status="" data-action="click->button-menu#update">
            <h5 class="pe-none fs-25">02</h5>
            <h5 class="pe-none">Exécution</h5>
          </button>
          <div data-button-menu-target="content" data-status="">
            <p class="mb-10">négociation modalités & validation manager / RH</p>
            <p class="mb-10">contractualisation (modèles type) & onboarding collaborateur</p>
            <p>suivi opérationnel (points réguliers, reporting, hotline)</p>
          </div>
        </div>
        <div>
          <button class="mb-20" data-button-menu-target="button" data-status="" data-action="click->button-menu#update">
            <h5 class="pe-none fs-25">03</h5>
            <h5 class="pe-none">Valorisation de l'impact</h5>
          </button>
          <div data-button-menu-target="content" data-status="">
            <p class="mb-10">validation des compétences (questionnaire soft skills)</p>
            <p class="mb-10">comptabilisation (génération attestation & reçu fiscal)</p>
            <p>valorisation et communication (interne, externe, reporting d’impact)</p>
          </div>
        </div>
      </div>

      <div class="flex-center-top w-100">
        <%= image_tag('screenshot_1.png', class: "w-100 max-w-400 shadow-xl") %>
      </div>

    </div>
  </div>

  <div class="bg-white pt-5 pb-5 ctn-resp">
    <h4 class="text-main center-text mb-5">attirez, retenez et motivez les talents engagés</h4>
    <div class="flex-resp justify-content-around">
      <div class="max-w-300 mb-4 mg-resp-r">
        <h5 class="full-width bottom-border-black pb-4 mb-3">soutenez les <span class="stress">initiatives solidaires individuelles</span></h5>
        <p>orientez vers Demain celles et ceux parmi vos talents qui manifestent des envies d'engagement durable</p>
      </div>
      <div class="max-w-300 mb-4 mg-resp-l mg-resp-r">
        <h5 class="full-width bottom-border-black pb-4 mb-3">boostez votre <span class="stress">dispositif sociétal existant</span></h5>
        <p>renforcez votre programme de partage de compétences en permettant aux personnes éligibles de bénéficier de notre accompagnement</p>
      </div>
      <div class="max-w-300 mb-4 mg-resp-l">
        <h5 class="full-width bottom-border-black pb-4 mb-3">recrutez de <span class="stress">nouveaux talents</span> solidaires</h5>
        <p>différenciez-vous en tant que recruteur et attirez les profils les plus qualifiés en proposant notre dispositif à votre future recrue</p>
      </div>
    </div>
  </div>

</div>
