<% canonical(root_url) %>

<div class="light-bg pt-5 pb-5">
  <div class="ctn-resp flex-resp early-resp-900 justify-content-between align-items-center pt-4 pb-2">
    <div class="big-title-resp max-width-500 full-width" data-controller="contact">
      <h1 class="d-none">Demain Works : le mécénat de compétences à l'intiative des employés</h1>
      <h2 class="primary-text-color mb-3">talents engagés & solidaires</h2>
      <h4 class="mb-3">Demain permet aux personnes salariées de s'engager sur leur temps de travail auprès d'organismes d'intérêt général</h4>
      <a class="button btn-flag-color" href="" data-action="click->contact#popup">Contactez-nous !</a>
      <%= render partial: "contact" %>
    </div>
    <div class="rounded-20 pt-2 pb-2 max-width-500">
      <%= image_tag("homepage.png", class: "full-width") %>
    </div>
  </div>
</div>

<%= render partial: "offer_carousel", locals: {offers: @offers} %>

<div class="white-bg pt-5 pb-5 flex-resp ctn-resp justify-content-between">

    <div class="full-width max-width-500 mg-resp-r">
      <div class="full-width mb-5">
        <h2 class="mb-3 fs-1">vous êtes...</h2>
        <p class="mb-2">Que vous soyez un organisme d'intérêt général (association, fondation, ...), une entreprise (responsable RSE, DRH, manager...) ou un·e salarié·e  souhaitant s'engager <span class="stress">Demain est là pour vous accompagner</span></p>
        <p>Notre mission : mettre le talent et les compétences professionnelles au service de l'intérêt général, en conciliant les intérêts de toutes les parties prenantes</p>
      </div>
      <div class="home-info-card full-width">
        <div class="d-flex justify-content-between mb-3 align-items-center ">
          <h4 class="primary-text-color">acteur de l'intérêt général</h4>
          <h4 class="primary-text-color"><i class="fa-solid fa-hand-holding-heart"></i></h4>
        </div>
        <p>Associations, fondations et autres acteurs de l’intérêt général : intégrez durablement des compétences pour tous vos besoins support moyen ou long-terme, quel que soit votre budget</p>
        <%= link_to "plus d'infos", nonprofits_path, class: "button-round" %>
      </div>
    </div>

    <div class="full-width mt-5 card-offset-resp d-flex flex-column align-items-center max-width-500 mg-resp-l">
      <div class="home-info-card full-width mb-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="primary-text-color">salarié·e d'entreprise</h4>
          <h4 class="primary-text-color"><i class="fa-solid fa-user"></i></h4>
        </div>
        <p>Mettez vos compétences au service d'une cause qui vous tient à coeur, et regagnez du sens et de l'équilibre dans votre travail au quotidien</p>
        <%= link_to "plus d'infos", candidates_path, class: "button-round" %>
      </div>
      <div class="home-info-card full-width">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="primary-text-color">manager, professionnel RH ou RSE</h4>
          <h4 class="primary-text-color"><i class="fa-solid fa-building"></i></i></h4>
        </div>
        <p>Une démarche RH et RSE différenciante et véritablement impactante : permettez aux talents engagés de partager durablement leur temps de travail et leurs compétences avec des associations qui leur correspondent</p>
        <%= link_to "plus d'infos", companies_path, class: "button-round" %>
      </div>

    </div>
</div>

<div class="ctn-resp shaded-bg pt-5 pb-5">
  <h4 class="primary-text-color center-text mb-5">nous les accompagnons</h4>
  <div class="row align-items-center justify-content-center">
    <% @beneficiaries.each do |b| %>
      <% if b.logo.attached? %>
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 partner-logo-ctn">
          <%= link_to b.home_url(beneficiary_path(b)), target: (b.home_url(beneficiary_path(b)) == b.web_url && b.web_url.present? ? "_blank" : "_self"), class: "d-flex align-items-center full-width" do %>
            <%= cl_image_tag(b.logo.key, class: "full-width p-3", alt: "Plus d'informations sur l'association #{b.name}") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
