
<div style="background-image: linear-gradient(45deg, rgba(83, 28, 179, 1), hsl(355, 53%, 48%)), url('<%= image_path "banner.png" %>');" class="banner" data-controller="contact">
  <%= image_tag "banner.png" %>
  <%= image_tag "handsup.svg" %>
  <div>
    <span>
      <%= image_tag "logowhite.svg" %>
      <h3>Talents engagés au service <span data-controller="typed-js"></span></h3>
      <a class="button btn-flag-color" href="" data-action="click->contact#popup">Contactez-nous !</a>
    </span>
    <%= render partial: "contact" %>
  </div>
</div>

<div class="ctn-home">
  <div class="row">

    <div class="col-sm-12 col-lg-4 home-card-ctn">
      <%= link_to nonprofits_path do %>
        <div class="home-card">
          <div style="background-image: url('<%= image_path "illustration4.png" %>')" class="home-card-img"></div>
            <div class="home-card-content">
              <div>
                <h2>Acteurs de l’intérêt général</h2>
                <p>Associations, fondations, organismes de l’ESS… : intégrez durablement des compétences pour tous vos besoins support moyen ou long-terme, quel que soit votre budget</p>
              </div>
              <%= link_to nonprofits_path do %>
                &#10230; en savoir plus
              <% end %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-lg-4 home-card-ctn">
      <%= link_to companies_path do %>
        <div class="home-card">
          <div style="background-image: url('<%= image_path "illustration2.png" %>')" class="home-card-img"></div>
            <div class="home-card-content">
              <div>
                <h2>Entreprises</h2>
                <p>Une démarche RH et RSE différenciante et véritablement impactante : permettez aux talents engagés de partager durablement leur temps de travail et leurs compétences avec des associations qui leur correspondent.</p>
              </div>
              <%= link_to companies_path do %>
                &#10230; en savoir plus
              <% end %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="col-sm-12 col-lg-4 home-card-ctn">
      <%= link_to candidates_path do %>
        <div class="home-card">
          <div style="background-image: url('<%= image_path "illustration3.png" %>')" class="home-card-img"></div>
            <div class="home-card-content">
              <div>
                <h2>Candidat·e·s</h2>
                <p>Mettez vos compétences au service d'une cause qui vous tient à coeur, et regagnez du sens et de l'équilibre dans votre travail au quotidien</p>
              </div>
              <%= link_to candidates_path do %>
                &#10230; en savoir plus
              <% end %>
            </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
<div class="white-wrapper-sm pt-5 pb-5 mt-4">
  <h4 class="primary-text-color center-text mb-5">nous les accompagnons</h4>
  <div class="row align-items-center justify-content-center">
    <% @beneficiaries.each do |b| %>
      <% if b.logo.attached? %>
        <div class="col-xxl-1 col-xl-2 col-lg-3 col-md-4 col-sm-6">
          <%= cl_image_tag(b.logo.key, class: "full-width p-3") %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
