<% canonical(root_url) %>

<div data-controller="swipe" data-action="click->swipe#refocus">

  <div class="bg-white md-resp-bg-main md-resp-text-white pt-50 md-resp-pt-0 overflow-hidden position-relative">
    <div class="ctn-resp flex-center-evenly md-resp-flex-col pt-20 pb-100 bring-forward">
      <div class="round-20 pt-2 pb-2 max-w-500 position-relative">
        <%= image_tag("homepage.svg", class: "full-width", alt: "employée alliant un job rémunéré avec un engagement associatif") %>
        <span class="bottom-fader d-none md-resp-present fade-dark h-50"></span>
      </div>
      <div class="max-w-500 full-width md-resp-ml-0 ml-100 md-resp-pb-80">
        <h1 class="d-none">Demain Works : le mécénat de compétences à l'intiative des employés</h1>
        <h2 class="fs-60 mb-3">talents engagés & solidaires</h2>
        <h4 class="mb-3">Demain permet aux personnes salariées de s'engager sur leur temps de travail auprès d'organismes d'intérêt général</h4>
      </div>
    </div>
    <%= image_tag('purple_triangle_light.svg', class: "tilted-ctn") %>
    <div class="full-width pb-5 bg-shade"></div>
  </div>


  <div class="bg-shade position-relative pt-50 pb-50" data-controller="contact">
    <%= render partial: "pages/contact" %>
    <div class="flex-center position-absolute home-cards-ctn" data-swipe-target="ctn" data-focus="1">

        <div class="home-cta-card round-20 grey-border bg-white p-20 shadow-xl hover-2 m-10" data-swipe-target="card" data-status="">
          <%= link_to '', companies_path, data: {action: "click->swipe#keep"} %>
          <h5 class="mb-10">entreprises</h5>
          <p class="overflow-hidden hover-2">Mobilisez votre entreprise autour d’initiatives à fort impact sociétal en y associant de manière ciblée des collaborateurs en quête de sens</p>
          <%= image_tag('home_illustration_2.svg', class: "hover-2 pe-none") %>
          <div>
          </div>
          <em class="hover-2 flex-center-between bg-flag-2">
            <%= link_to companies_path, class: "fat-btn fat-btn-md fat-btn-main-color position-relative flex-center-between flex-shrink-0" do %>
              <span></span>
              <strong class="center-margin fw-5">En savoir plus</strong>
            <% end %>
          </em>
        </div>

        <div class="home-cta-card round-20 grey-border bg-white p-20 shadow-xl hover-2 m-10" data-swipe-target="card" data-status="">
          <%= link_to '', nonprofits_path, data: {action: "click->swipe#keep"} %>
          <h5 class="mb-10">associations</h5>
          <p class="overflow-hidden hover-2">Attirez les compétences utiles à la professionnalisation, la structuration ou la digitalisation de votre organisation</p>
          <%= image_tag('home_illustration_3.svg', class: "hover-2 pe-none") %>
          <div>
          </div>
          <em class="hover-2 flex-center-between bg-flag-3">
            <%= link_to nonprofits_path, class: "fat-btn fat-btn-md fat-btn-main-color position-relative flex-center-between flex-shrink-0" do %>
              <span></span>
              <strong class="center-margin fw-5">En savoir plus</strong>
            <% end %>
          </em>
        </div>

        <div class="home-cta-card round-20 grey-border bg-white p-20 shadow-xl hover-2 m-10" data-swipe-target="card" data-status="">
          <%= link_to '', candidates_path, data: {action: "click->swipe#keep"} %>
          <h5 class="mb-10">s'engager</h5>
          <p class="overflow-hidden hover-2">Mettez vos compétences au service d'une cause qui vous tient à cœur, et regagnez du sens et de l'équilibre dans votre travail au quotidien</p>
          <%= image_tag('home_illustration_1.svg', class: "hover-2 pe-none") %>
          <div>
          </div>
          <em class="hover-2 flex-center-between bg-flag-1" data-action="click->swipe#keep">
            <%= link_to offers_path, class: "fat-btn fat-btn-md fat-btn-main-color position-relative flex-center-between flex-shrink-0" do %>
              <span></span>
              <strong class="center-margin fw-5">Voir les missions</strong>
            <% end %>
          </em>
        </div>

    </div>
  </div>

  <%= image_tag('purple_triangle_light.svg', class: "tilted-ctn flip-hz") %>

</div>

<div class="ctn-resp bg-white pb-50 flex-center-between md-resp-flex-col">
  <div class="embedded-cards xs-resp-resize-60 sm-resp-resize-70 md-resp-resize-80 lg-resp-resize-90 md-resp-order-2">
    <%= link_to offers_path(function: "IT/Data/Produit"), class: "p-20 round-20 grey-border embedded-card" do %>
        <h5 class="mb-10">Product management</h5>
        <span class="flex-center-left"><i class="fa-regular fa-clock min-w-20 mr-10 text-main"></i><h6>1 jour / semaine</h6></span>
        <span class="flex-center-left"><i class="fa-regular fa-calendar min-w-20 mr-10 text-main"></i><h6>5 mois</h6></span>
    <% end %>
    <%= link_to offers_path(function: "Ressources Humaines"), class: "p-20 round-20 grey-border embedded-card" do %>
      <h5 class="mb-10">Gestion RH</h5>
      <span class="flex-center-left"><i class="fa-regular fa-clock min-w-20 mr-10 text-main"></i><h6>2 jours / semaine</h6></span>
      <span class="flex-center-left"><i class="fa-regular fa-calendar min-w-20 mr-10 text-main"></i><h6>2 mois</h6></span>
    <% end %>
    <%= link_to offers_path(function: "Ventes/Business Development"), class: "p-20 round-20 grey-border embedded-card" do %>
      <h5 class="mb-10">Business development</h5>
      <span class="flex-center-left"><i class="fa-regular fa-clock min-w-20 mr-10 text-main"></i><h6>2 jours / mois</h6></span>
      <span class="flex-center-left"><i class="fa-regular fa-calendar min-w-20 mr-10 text-main"></i><h6>12 mois</h6></span>
    <% end %>
    <%= image_tag('yellow_shape_1.svg', class:"") %>
    <%= image_tag('home_illustration_4.svg', class:"max-w-300") %>
  </div>
  <div class="md-resp-order-1 ml-40 lg-resp-ml-0">
    <h6 class="text-main">Nos services</h6>
    <h3 class="mb-10 md-resp-pt-20">Faciliter le partage solidaire des compétences de l'entreprise</h3>
    <p class="mb-20">Demain accompagne les entreprises et leurs collaborateurs afin de réaliser du mécénat de compétences plusieurs jours pour des associations ayant des besoins tech, RH, sales ou encore juridiques.</p>
    <div class="d-flex">
      <%= link_to "Nous contacter", company_contact_path, class: "button bg-main-to-dark hover-2 text-white border-main fw-5 hover-zoom" %>
      <span class="p-10"></span>
      <%= link_to "En savoir plus", companies_path, class: "button bg-white-to-shade hover-2 text-main border-main fw-5 hover-zoom" %>
    </div>
  </div>
</div>


<div class="ctn-resp bg-grey pt-80 position-relative">
  <h3 class="round grey-border bg-white testimony-title">talents heureux</h3>
  <div class="flex-between sm-resp-flex-col">

    <blockquote class="testimony mb-40">
      <div class="flex-center-left mb-20">
        <%= image_tag("karim.jpg", class: "round square-40 mr-20") %>
        <div>
          <cite class="fw-6">Karim</cite>
          <cite>Consultant IT</cite>
        </div>
      </div>
      <div class="position-relative pl-10 pt-10 w-100">
        <%= image_tag('quote_sign.svg') %>
        <p>Grâce à Demain, mon entreprise m’a permis de réaliser une mission pro bono pour aider une association dans le cadre de sa transformation digitale</p>
      </div>
    </blockquote>

    <blockquote class="testimony mb-40 ml-20 sm-resp-ml-0 mr-20 sm-resp-mr-0">
      <div class="flex-center-left mb-20">
        <%= image_tag("patricia.jpg", class: "round square-40 mr-20") %>
        <div>
          <cite class="fw-6">Patricia</cite>
          <cite>Responsable RH</cite>
        </div>
      </div>
      <div class="position-relative pl-10 pt-10 w-100">
        <%= image_tag('quote_sign.svg') %>
        <p>En me laissant consacrer 3 jours par mois à une association qui m’est chère, mon entreprise m’a permis de retrouver du sens dans mon métier et un meilleur équilibre personnel</p>
      </div>
    </blockquote>

    <blockquote class="testimony mb-40">
      <div class="flex-center-left mb-20">
        <%= image_tag("julie.jpg", class: "round square-40 mr-20") %>
        <div>
          <cite class="fw-6">Julie</cite>
          <cite>Chargée de Marketing Digital</cite>
        </div>
      </div>
      <div class="position-relative pl-10 pt-10 w-100">
        <%= image_tag('quote_sign.svg') %>
        <p>Demain m’a permis de trouver une asso géniale dans laquelle exercer et développer de nouvelles compétences en lien avec mon projet de reconversion</p>
      </div>
      </blockquote>

  </div>
</div>


<div class="ctn-resp bg-white pt-50 pb-50">
  <div class="flex-center-between md-resp-flex-col">
    <div>
      <h3>Demain simplifie le partage des compétences</h3>
      <p class="mb-20">Notre mission : mettre le talent et les compétences professionnelles au service de l'intérêt général, en conciliant les intérêts de toutes les parties prenantes</p>
      <div class="d-flex">
        <i class="fa-regular fa-circle-check min-w-40 text-flag-2 fs-25 va-top"></i>
        <span>Equipes RH et RSE au sein d’entreprises, petites ou grandes</span>
      </div>
      <div class="d-flex mt-10 mb-10">
        <i class="fa-regular fa-circle-check min-w-40 text-flag-3 fs-25 va-top"></i>
        <span>Fondations, associations et autres organismes d’intérêt général</span>
      </div>
      <div class="d-flex">
        <i class="fa-regular fa-circle-check min-w-40 text-flag-1 fs-25 va-top"></i>
        <span>Talents salariés, en disponibilité ou indépendants</span>
      </div>
    </div>
    <%= image_tag('home_illustration_5.svg', class: "w-100 max-w-500 pl-40 md-resp-pr-40 md-resp-pt-40") %>
  </div>
</div>

<div class="ctn-resp bg-shade pt-5 pb-5">
  <h4 class="text-main center-text mb-5">les associations et fondations que nous aidons</h4>
  <div class="row align-items-center justify-content-center">
    <% @beneficiaries.each do |b| %>
      <% if b.logo.attached? %>
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 partner-logo-ctn">
          <%= link_to b.home_url(beneficiary_path(b)), target: (b.home_url(beneficiary_path(b)) == b.web_url && b.web_url.present? ? "_blank" : "_self"), class: "d-flex align-items-center full-width" do %>
            <%= cl_image_tag(b.logo.key, class: "full-width p-3", alt: "Logo de l'association #{b.name}") %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
