<div id="navbar" class="company-navbar">
  <%= image_tag("full_logo_dark.png", class: "sm-logo", alt: "Logo Demain") %>
  <div class="flex-center-between">
    <%= link_to company_admin_path, class: "fs-18 ml-20 upsize-120 hover-2", data: {active: @tab==0} do %>
      <i class="fa-solid fa-home"></i>
    <% end %>
    <%= link_to company_admin_info_path, class: "fs-18 ml-20 upsize-120 hover-2", data: {active: @tab=="info"} do %>
      <i class="fa-solid fa-circle-info"></i>
    <% end %>
    <%= link_to "", class: "fs-18 ml-20 text-grey-light pe-none upsize-120 hover-2" do %>
      <i class="fa-solid fa-gear"></i>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: "fs-18 ml-20 upsize-120 hover-2" do %>
      <i class="fa-solid fa-right-from-bracket"></i>
    <% end %>
    <a href="" class="ml-10 round-button downsize90 fs-18 fw-6 bg-flag-3 text-white"><%= current_user.initials %></a>
  </div>
</div>
<div class="mb-50"></div>
