<%= render partial: "company_user/missions/tabs" %>

<div class="d-flex md-resp-flex-col mb-40">
  <%= render partial: "calendar" %>
  <div class="max-w-400 ml-40 md-resp-ml-0">
    <div class="mb-30 flex-between">
      <div class="mr-10">
        <h6 class="text-main fw-7 mb-10">Créer une timesheet</h6>
        <p>Veuillez renseigner les heures consacrées à <%= @mission.beneficiary.name %> ce jour-là.</p>
      </div>
      <div class="calendar-sheet">
        <p class="fw-7 text-main fs-25"><%= params[:start_date].to_date.strftime("%d") %></p>
        <p class="fw-5"><%= params[:start_date].to_date.strftime("%b") %></p>
        <p class="fw-6 text-main"><%= params[:start_date].to_date.strftime("%Y") %></p>
        <span></span>
      </div>
    </div>

    <%= render partial: "form", locals: {date: params[:start_date], url: user_mission_timesheets_path, deletable: false} %>
  </div>
</div>
