<div class="mb-20">
  <%= render partial: "company_user/missions/tabs" %>
</div>


<div class="d-flex mb-40">
  <%= render partial: "calendar" %>
  <div class="max-w-400 ml-40">
    <div class="mb-30 flex-between">
      <div>
        <h4 class="text-main fw-7 mb-10">Nouveau temps</h4>
        <p>Veuillez renseigner les heures consacrées à <%= @mission.beneficiary.name %> ce jour-là.</p>
      </div>
      <%= link_to :back do %>
        <i class="fa-solid fa-xmark close-btn-alt square-30 flex-center"></i>
      <% end %>
    </div>

    <%= render partial: "form", locals: {date: params[:start_date], url: user_mission_timesheets_path, deletable: false} %>
  </div>
</div>
