<%= render partial: "shared/navpan", locals: {active: 2} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
    <h3>Editer l'offre</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">
      <%= link_to "Retour", admin_offers_path, class:"button btn-light-main mb-2" %>
    <%= simple_form_for(@offer) do |f| %>
      <%= f.association :beneficiary %>
      <%= f.input :title %>
      <%= f.input :function, collection: Offer::FUNCTIONS %>
      <%= f.input :location %>
      <%= f.input :commitment, collection: Offer::COMMITMENTS %>
      <%= f.input :offer_type, collection: Offer::OFFER_TYPES %>
      <%= f.input :status, collection: Offer::STATUSES %>
      <%= f.input :publish, as: :boolean %>
      <%= f.input :description, as: :rich_text_area %>

      <button type="submit" class="button btn-main-color mt-3">Enregistrer</button>
    <% end %>

  </div>
</div>
