<%= render partial: "shared/navpan", locals: {active: 2} %>

<div class="navpan-mg-ctn">
  <div class="navpan-transp-ctn">
  <h3>Liste des offres</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor ex qui sapiente doloremque</p>
  </div>
  <div class="navpan-white-ctn">

    <div>
      <div class="sticky-admin-nav d-flex bg-white pt-3 pb-3 justify-content-between">
        <%= link_to "+ Créer", new_admin_offer_path, class:"button btn-main-color" %>
      </div>
      <table class="tw-table">
        <thead>
          <tr>
            <th>id</th>
            <th class="center-text">Actions</th>
            <th>Association</th>
            <th>Titre</th>
            <th>Région</th>
            <th>Remote ?</th>
            <th>Status</th>
            <th class="center-text">En ligne</th>
            <th>Airtable id</th>
            <th class="center-text">Candidatures</th>
          </tr>
        </thead>
        <tbody>
          <% @offers.each do |o| %>
            <tr>
              <td><%= o.id %></td>
              <td>
                <div class="d-flex justify-content-evenly">
                  <%= link_to(offer_path(o), target: "_blank") do %>
                    <i class="fa-solid fa-eye text-main"></i>
                  <% end %>
                  <%= link_to edit_admin_offer_path(o) do %>
                    <i class="fa-solid fa-pen-to-square text-main"></i>
                  <% end %>
                  <%= link_to admin_offer_path(o), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr.e de vouloir supprimer ?"} do %>
                    <i class="fa-solid fa-trash text-main"></i>
                  <% end %>
                </div>
              </td>

              <td><%= o.beneficiary.name %></td>
              <td><%= o.title %></td>
              <td><%= o.region %></td>
              <td class="center-text">
                <% if o.remote_work %>
                  <i class="fa-solid fa-circle-check green-color"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-circle-xmark grey-color"></i>
                <% end %>
              </td>
              <td><%= o.status %></td>
              <td class="center-text">
                <% if o.publish %>
                  <i class="fa-solid fa-circle-check green-color"></i>
                <% else %>
                  <i class="fa-sharp fa-solid fa-circle-xmark grey-color"></i>
                <% end %>
              </td>
              <td><%= o.airtable_id %></td>
              <td class="center-text"><%= o.candidacies.count %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>

  </div>
</div>
