<div id="candidate_status_wrapper" class="input-with-2-icons mb-10 position-relative">

  <%= f.input :status,
              label: 'Ma situation *',
              collection: Candidate::STATUSES,
              include_blank: "Sélectionner",
              input_html: {class: "input-form", data: {"candidacy-target": "status", action: "change->candidacy#toggle"}},
              wrapper: false %>
  <i class="fa-solid fa-briefcase"></i>
  <i class="fa-solid fa-angle-down pe-none"></i>
</div>

<% if request.path.starts_with?("/candidates") %>
  <div id="aknowledge_wrapper" data-candidacy-target="aknowledge">
    <p class="fs-14"><em>En règle générale, les missions proposées par Demain ne sont pas rémunérées par les associations :</em></p>
    <div class="flex-center-between position-relative mb-10">
      <%= f.input :volunteering_aknowledged,
                  as: :boolean,
                  label: "Je peux m'engager bénévolement",
                  label_html: {class: "no-wrap"},
                  input_html: { class: "toggle" },
                  wrapper: false %>
    </div>
  </div>
<% end %>

<div id="candidate_employer_name_wrapper" class="input-with-icon mb-15 position-relative">
  <%= f.input :employer_name,
              label: 'Mon employeur *',
              input_html: {class: "input-form", data: {"candidacy-target": "employer"}},
              wrapper: false %>
  <i class="fa-solid fa-building"></i>
</div>

<div id=candidate_cv_wrapper class="flex-center-between mb-10" data-controller="progress">
  <div class="overflow-hidden">
    <label for="candidate_cv" class="label-form">Mon CV et/ou LinkedIn *</label>
        <p data-progress-target="cvmsg" class="fs-10 text-ellipsis">
          <% if candidate.cv.present? %>
            CV transmis.
            <%= link_to 'Télécharger', cl_image_path(candidate.cv.key), target: "_blank", class: "fw-6 text-main" %></p>
          <% end %>
        </p>
  </div>
  <div class="flex-shrink-0 position-relative">
    <% if candidate.cv.present? %>
      <%= image_tag('valid.svg', class: "feedback-mark me-10") %>
    <% end %>
    <%= f.input :cv,
                as: :file,
                input_html: { class: 'd-none', data: {'progress-target': 'cv', action: 'change->progress#cv'}},
                label: ('<i class="fa-regular fa-file mb-0 me-2"></i>Choisir un fichier').html_safe,
                wrapper: false,
                label_html: { class: 'upload'} %>
  </div>
</div>

<div id="candidate_linkedin_url_wrapper" class="input-with-icon mb-10">
  <%= f.input :linkedin_url,
              label: false,
              placeholder: "https://linkedin.com/in/...",
              wrapper: false %>
  <i class="fa-brands fa-linkedin-in"></i>
</div>
