<div class="modal-inner" data-action="click->modal#keep">
  <div class="d-flex justify-content-between form-header">
    <h5>Ajouter une expérience</h5>
    <h5 class="close-btn"><a href="" data-modal-target="close" data-experience-target="close" data-action="click->modal#close"><i class="fa-solid fa-xmark"></i></a></h5>
  </div>
  <div class="modal-body">
    <%= simple_form_for([candidate, experience], action: :create, method: :post, data:{turbo: false, 'experience-target': 'form', action: 'submit->experience#save'}) do |f| %>
      <div>
        <%= f.input :employer,
                    label: "Employeur, client ou projet" %>
        <%= f.input :title,
                    label: "Intitulé du poste ou de la mission" %>
        <h6>Dates (mm/aaaa)</h6>
        <div class="d-flex">
          <%= f.input :start_date,
                      label: "Début",
                      wrapper_html: { class: "flex-grow-1 me-1" } %>
          <%= f.input :end_date,
                      label: "Fin",
                      wrapper_html: { class: "flex-grow-1 ms-1" } %>
        </div>
        <div class="flex-resp justify-content-end">
          <%= f.submit 'Ajouter', class: "button btn-main-color" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
