<div class="tenant-modal" data-popup-target="window" data-action="click->popup#close" data-pop-up-id="1" data-active=<%=@error%>>
  <div>
    <div class="p-20 shadow-md" data-action="click->popup#keep">
      <div class="flex-center-between w-100">
        <h5 class="text-main fw-7">Suggestion</h5>
        <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
          <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
        <% end %>
      </div>
      <h6 class="mb-20">Proposer cette mission à un collaborateur</h6>
      <%= simple_form_for([@offer, @candidacy], url: company_admin_offer_candidacies_path(@offer), action: :create, data: {turbo: false}) do |f| %>
        <%= f.association :candidate, collection: @candidates - @selected_candidates, label_method: lambda { |candidate| candidate.full_name } %>
        <%= f.input :status, as: :hidden, input_html: {value: "selection"} %>

        <button type="submit", class="w-100 button round bg-main-to-dark text-white bn-none">
          <i class="fa-regular fa-user mr-10"></i>
          Envoyer la suggestion
        </button>

      <% end %>
    </div>
  </div>
</div>
