<h5 class="fw-7 text-main mb-40">Favoris</h5>

<div class="d-flex">
  <%= render partial: "company_user/selections/summary" %>
  <div class="ml-40 w-100 max-w-400">
    <div class="w-100">
      <div class="mb-20">
        <h5 class="text-main">Vous avez eu un coup de coeur</h5>

        <% if !@selection_on_record.selection_status? %>
          <p class="mt-20">Vous avez candidaté à cette mission.</p>
          <p class="mb-20">Vous pouvez retrouver le détail ici :</p>
          <%= link_to user_candidacy_path(@selection), class: "w-100 button round bg-main-to-dark text-white bn-none" do %>
            <i class="fa-solid fa-eye mr-10"></i>
            Voir la candidature
          <% end %>
        <% else %>
          <% if current_user.eligibility_on_going? && !@active_engagement %>
            <p class="mb-20">Vous pouvez y candidater dès à présent :</p>

            <%= simple_form_for(@selection, url: user_bookmark_path(@selection), data: {turbo: false}) do |f| %>
              <div >
                <div class="w-100 mr-20">
                  <%= f.input :status, as: :hidden, input_html: {value: "user_application"}, wrapper: false %>
                  <div class="position-relative mb-20">
                    <%= f.input :motivation_msg, label: false, wrapper: false, input_html: {class: "min-h-100", value: ""}, placeholder: "Votre message à l'attention de #{@selection.beneficiary.name}" %>
                  </div>
                </div>
                <button type="submit" class="btn-main-color round-10 text-white square-40 w-100 flex-center">
                  <i class="fa-regular fa-paper-plane mr-10"></i>
                  Envoyer
                </button>
              </div>
            <% end %>

          <% else %>
            <% if @active_engagement %>
              <p class="mt-20 mb-20">Vous ne pouvez pas y candidater actuellement en raison de votre engagement en cours sur la mission suivante :</p>
              <div class="w-100 flex-center">
                <%= render partial: "company_user/shared/engagement_card" %>
              </div>
            <% else %>
              <p class=" mt-20 mb-10">Vous ne pouvez pas y candidater actuellement.</p>
            <% end %>
          <% end %>
          <div class="w-100">
            <%= simple_form_for(@selection, url: user_bookmark_path(@selection), data: {turbo: false}) do |f| %>
              <%= f.input :active, as: :hidden, input_html: {value: false} %>
              <button type="submit" class="flex-center button bn-none bg-white center-margin">
                <i class="fa-regular fa-heart mr-10 text-flag-2"></i>
                Retirer de mes favoris
              </button>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
