<div class="bg-grey p-20 mb-10 shadow-xs">
  <table class="max-w-400  mb-20">
    <tbody class="va-top">
      <tr>
        <th class="pr-10 no-wrap">Intitulé</th>
        <td><%= mission.title %></td>
      </tr>
      <tr>
        <th class="pr-10 no-wrap">Début</th>
        <td><%= mission.start_date.blank? ? "non-renseigné" : mission.start_date&.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <th class="pr-10 no-wrap">Fin</th>
        <td><%= mission.end_date.blank? ? "non-renseigné" : mission.end_date&.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <th class="pr-10 no-wrap">Modalités</th>
        <td><%= mission.periodicity.blank? ? "non-renseigné" : mission.periodicity %></td>
      </tr>
    </tbody>
  </table>
  <div>
    <h6 class="fw-7">Objectifs</h6>
    <%= mission.description.blank? ? "non-renseigné" : simple_format(mission.description) %>
  </div>
</div>
