<div class="max-w-400" data-controller="dynamic-form">
  <%= simple_form_for(@mission, url: user_mission_path(@mission, step:2)) do |f| %>

    <div class="mb-20">
      <h6 class="text-main fw-7 mb-10">Avez-vous complété vos temps ?</h6>
      <% if @mission.total_hours == 0 %>
        <p>Vous n'avez pas encore déclaré de temps pour cette mission</p>
      <% else %>
        <p>Vous avez déclaré avoir aidé <%= @mission.beneficiary.name %> <span class="fw-6 text-main"><%= @mission.total_days %></span> jour(s) pour un total de <span class="fw-6 text-main"><%= @mission.total_hours %></span> heures.</p>
      <% end %>
      <%= link_to user_mission_timesheets_path(@mission), class: "w-100 button round first-main-border bg-white-to-shade text-main mt-20" do %>
        <i class="fa-solid fa-pen-to-square"></i>
        Compléter les informations saisies
      <% end %>
    </div>


    <% @mission.timesheets.each do |timesheet| %>
      <div class="w-100 p-10 bg-shade mb-10 flex-center-between">
        <div>
          <h6><%= timesheet.start_time.strftime("%d/%m/%Y") %></h6>
          <p><%= timesheet.start_time.strftime("%H:%M") %> -> <%= timesheet.end_time.strftime("%H:%M") %> (<%= timesheet.reported_hours %> h)</p>
        </div>
        <%= link_to "Modifier", edit_user_mission_timesheet_path(@mission, timesheet), class: "text-main fw-7 fs-13" %>
      </div>
    <% end %>

    <div class="mt-20 w-100 position-relative">
      <div class="flex-center-left mb-20">
        <div class="mr-10">
          <%= f.input_field :time_confirmation, class: "dynamic-checkbox", data: {dynamic_form_target: "trigger", action: "change->dynamic-form#enable"} %>
          <%= f.label :time_confirmation do %>
            <i class="fa-solid fa-check"></i>
            <span></span>
          <% end %>
          <%= f.error :time_confirmation, class: "invalid-msg" %>
        </div>
        <p class="fw-5">Je confirme mes temps de travail pour cette mission.</p>
      </div>
    </div>

    <div class="w-100 flex-center-between mb-40">
      <%= link_to "Retour", user_mission_confirmation_path(@mission, step: 1), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
      <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Continuer</button>
    </div>
  <% end %>
</div>
