<div class="max-w-400">
  <%= simple_form_for(@mission, url: user_mission_path(@mission, step:3), data: {turbo: false}) do |f| %>

    <h6 class="text-main fw-7 mb-10">Confirmer la fin de la mission.</h6>

    <div class="mt-20 w-100 position-relative">
      <div class="flex-center-left mb-20">
        <div class="mr-10">
          <%= f.input_field :termination_confirmation, class: "dynamic-checkbox", data: {dynamic_form_target: "trigger", action: "change->dynamic-form#enable"} %>
          <%= f.label :termination_confirmation do %>
            <i class="fa-solid fa-check"></i>
            <span></span>
          <% end %>
          <%= f.error :termination_confirmation, class: "invalid-msg" %>
        </div>
        <p class="fw-5">Je confirme vouloir clôturer la mission.</p>
      </div>
    </div>

    <%= f.input :status, as: :hidden, input_html: {value: :terminated} %>

    <div class="d-flex mb-20 ">
      <i class="fa-solid fa-triangle-exclamation text-flag-1 mr-10 mt-05"></i>
      <p>Attention, vous ne pourrez pas revenir en arrière une fois la mission clôturée</p>
    </div>

    <div class="w-100 flex-center-between mb-40">
      <%= link_to "Retour", edit_user_mission_feedback_path(user_mission_id: @mission.id, id:@mission.feedback.id), class: "round bg-shade-to-dark text-main max-w-100 w-100 text-center pt-05 pb-05 hover-2" %>
      <button type="submit" class="round bg-main-to-dark text-white bn-none max-w-100 w-100 text-center pt-05 pb-05 hover-2">Terminer</button>
    </div>

  <% end %>
</div>
