<%= render partial: "company_user/missions/tabs" %>
<%= render partial: "company_user/missions/confirm_heading" %>

<div class="max-w-400">
  <% if !params[:step] %>
    <div class="w-100 flex-center mb-40">
      <%= link_to "Annuler", user_mission_timesheets_path, class: "button btn-light-main mr-10" %>
      <%= link_to "Démarrer", user_mission_confirmation_path(step: 1), class: "button btn-main-color" %>
    </div>
  <% else %>
    <%= render partial: "termination_step_#{params[:step]}" %>
  <% end %>

</div>
