<h5 class="fw-7 text-main no-wrap mb-30">Ma mission pour <%= @mission.beneficiary.name %></h5>

<div class="d-flex md-resp-flex-col">
  <div class="mb-40 w-100 max-w-400">
    <%= render partial: "company_user/shared/offer_card", locals: {offer: @mission.offer} %>
    <div class="p-20 pt-0 bg-shade">
      <div class="flex-center-between mb-10 w-100">
        <h6 class="text-main fw-7">Et maintenant ?</h6>
        <i class="fa-solid fa-clock text-grey-light min-w-20 fs-25"></i>
      </div>
      <p class="mb-05">Votre mission a été approuvée par <%= @mission.candidate.user.company.name %>.</p>
      <p class="fw-5"><%= @mission.candidate.user.company.name %> et <%= @mission.beneficiary.name %> doivent maintenant établir une convention de mécénat afin qu'elle puisse démarrer.</p>
    </div>
  </div>

  <div class="ml-40 md-resp-ml-0">
    <h6 class="text-main mb-10 fw-7">A propos de la mission</h6>
    <%= render partial: "summary", locals: {mission: @mission} %>
  </div>
</div>
