<div class="ctn-resp pe-0 bg-white pt-50">

  <div class="d-flex login-form-ctn full-height-ctn">

    <div class="pt-50 pb-50 flex-shrink-0">
      <div class="mb-20">
        <h2>Se connecter</h2>
        <div class="d-flex">
          <p class="me-1">Pas encore inscrit.e ?</p>
          <%= link_to "Créer un compte", new_registration_path(resource_name), class:"text-main fw-7" %>
        </div>
      </div>

      <% if Rails.env == "development" %>
        <%= render partial: "devise/shared/google_sso" %>

        <div class="separator w-50 center-margin center-text mb-15">
          ou
        </div>
      <% end %>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.error_notification %>
        <% if Rails.env = "development" %>
          <h6 class="center-text mb-10">Avec mes identifiants Demain</h6>
        <% end %>
        <div class="input-with-icon mb-10 position-relative">
          <%= f.input :email,
                      required: true,
                      # label: "Adresse mail",
                      label: false,
                      placeholder: "Adresse mail",
                      wrapper: false,
                      input_html: { autocomplete: "email" } %>
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="input-with-2-icons mb-15 position-relative" data-controller="password">
          <%= f.input :password,
                      required: true,
                      wrapper: false,
                      label: false,
                      placeholder: "Mot de passe",
                      input_html: { autocomplete: "new-password", data: {"password-target": "input"} } %>
          <i class="fa-solid fa-lock"></i>
          <i class="fa-regular fa-eye-slash min-w-20 text-center" data-action="click->password#toggle"></i>
        </div>

        <div class="flex-center-between position-relative mb-20">
          <%= f.input :remember_me,
                      as: :boolean,
                      label: "Rester connecté·e",
                      label_html: {class: "no-wrap"},
                      input_html: { class: "toggle" },
                      wrapper: false %>
        </div>

        <button type="submit" class="fat-btn fat-btn-md w-100 fat-btn-main-color position-relative flex-center-between">
          <span></span>
          <strong>Connexion</strong>
          <i class="fa-solid fa-right-to-bracket round-button bg-white"></i>
        </button>

      <% end %>

      <div class="mt-10 flex-center">
        <p class="d-inline me-1">Mot de passe</p><%= link_to 'oublié ?', new_password_path(resource_name), class:"fw-6 text-main" %>
      </div>
    </div>

    <div class="bg-shade round-top-left login-img-ctn ml-50 flex-center w-100 sm-resp-hide p-20">
      <div>
        <%= image_tag('homepage.svg', class: "w-100 max-w-500") %>
      </div>
    </div>

  </div>
</div>
