<div class="ctn-resp pe-0 bg-white pt-50">

  <div class="d-flex login-form-ctn full-height-ctn">

    <div class="pt-50 pb-50 flex-shrink-0">
      <div class="mb-20">
        <h2>Se connecter</h2>
        <div class="d-flex">
          <p class="me-1">Pas encore inscrit.e ?</p>
          <%= link_to "Créer un compte", new_registration_path(resource_name), class:"text-main fw-7" %>
        </div>
      </div>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.error_notification %>
        <div class="input-with-icon mb-10 position-relative">
          <%= f.input :email,
                      required: true,
                      label: "Adresse mail",
                      wrapper: false,
                      input_html: { autocomplete: "email" } %>
          <i class="fa-regular fa-envelope"></i>
        </div>
        <div class="input-with-2-icons mb-20 position-relative">
          <%= f.input :password,
                      required: true,
                      wrapper: false,
                      label: "Mot de passe",
                      input_html: { autocomplete: "new-password" } %>
          <i class="fa-solid fa-lock"></i>
          <i class="fa-regular fa-eye-slash"></i>
        </div>

        <button type="submit" class="fat-btn fat-btn-md w-100 fat-btn-main-color position-relative flex-center-between">
          <span></span>
          <strong>Connexion</strong>
          <i class="fa-solid fa-right-to-bracket round-button bg-white"></i>
        </button>

      <% end %>

      <div class="mt-10 flex-center">
        <p class="d-inline me-1">Mot de passe</p><%= link_to 'oublié ?', new_password_path(resource_name), class:"fw-6 text-main" %>
      </div>
    </div>

    <div class="bg-shade round-top-left login-img-ctn ml-50 flex-center w-100 sm-resp-hide p-20">
      <div>
        <%= image_tag('homepage.svg', class: "w-100 max-w-500") %>
      </div>
    </div>

  </div>
</div>
