<div class="tenant-modal" data-popup-target="window" data-action="click->popup#close"  data-pop-up-id="1" data-active=<%=@create_error%>>
  <div>
    <div class="p-20 shadow-md" data-action="click->popup#keep">
      <div class="flex-center-between w-100">
        <h5 class="text-main fw-7">Approuver</h5>
        <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
          <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
        <% end %>
      </div>
      <h6 class="mb-20">Valider la candidature et créer une fiche mission</h6>

      <%= simple_form_for([@candidacy, @mission], url: company_admin_candidacy_missions_path(@candidacy)) do |f| %>
        <table class="w-100 mb-20">
          <tbody>
            <tr class="position-relative">
              <th class="fw-5 pr-20">Titre</th>
              <td><%= f.input :title, input_html: {value: "#{@candidacy.beneficiary.name} - #{@candidacy.offer.title}"}, wrapper: false, label: false %></td>
            </tr>
            <tr class="position-relative" data-controller="flatpickr">
              <th class="fw-5 pr-20 pt-15">Début</th>
              <td class="pt-15"><%= f.input :start_date, as: :string, input_html: { value: @candidacy.req_start_date&.strftime("%d/%m/%Y"), data: { flatpickr_target: "date" }, class: "w-100" }, wrapper: false, label: false %></td>
            </tr>
            <tr class="position-relative" data-controller="flatpickr">
              <th class="fw-5 pr-20 pt-15">Fin</th>
              <td class="pt-15"><%= f.input :end_date, as: :string, placeholder: @candidacy.req_start_date&.strftime("%d/%m/%Y"), input_html: { data: { flatpickr_target: "date" }, class: "w-100" }, wrapper: false, label: false %></td>
            </tr>
            <tr class="position-relative">
              <th class="fw-5 pr-20 pt-15">Fréquence</th>
              <td class="pt-15"><%= f.input :periodicity, input_html: {value: @candidacy.req_periodicity}, label: false, wrapper: false %></td>
            </tr>
            <tr class="position-relative">
              <th class="fw-5 pr-20 pt-15">Total jours</th>
              <td class="pt-15"><%= f.input :days_count, input_html: {value: @candidacy.req_days}, label: false, wrapper: false %></td>
            </tr>
          </tbody>
        </table>
        <%= f.input :manager_approval, as: :boolean, label: "Validé par le manager", input_html: { class: "toggle" }, wrapper_html: { class: "div-align position-relative" }, default: false, checked_value: "approved", unchecked_value: "not_submitted" %>
        <%= f.input :status, as: :hidden, input_html: {value: "draft"}, wrapper: false %>
        <button type="submit", class="w-100 button round bg-main-to-dark text-white bn-none">
          <i class="fa-solid fa-floppy-disk mr-10"></i>
          Créer la fiche mission
        </button>
      <% end %>
    </div>
  </div>
</div>
