<div class="pl-40 w-100">
  <div class="mb-40">
    <h5>Demande de Mission</h5>
    <h6>Salarié : <%= @candidacy.candidate.full_name %></h6>
    <h6>Association : <%= @candidacy.beneficiary.name %></h6>
    <h6>Message du candidat :</h6>
    <p><%= @candidacy_on_record.current_comment.content if @candidacy_on_record.current_comment.present? %></p>
  </div>

  <div class="mb-40">
    <h5>Mission :</h5>
    <p>Date de démarrage envisagée : <%= @candidacy.req_start_date %></p>
    <p>Estimation du nombre de jours requis : <%= @candidacy.req_days %> jours</p>
    <p>Périodicité envisagée : <%= @candidacy.req_periodicity %></p>
    <p>Contenu de la mission : <%= @candidacy.req_description %></p>
  </div>

  <% if @candidacy_on_record.active %>

    <% case @candidacy_on_record.last_active_status %>
    <% when "user_validation" %>
      <%= simple_form_for(@candidacy, url: company_admin_candidacy_path(@candidacy), action: :update, data: {turbo: false}) do |f| %>
        <%= f.input :manager_validation, as: :boolean %>
        <%= f.input :last_active_status,
              as: :radio_buttons,
              legend_tag: false,
              label: false,
              collection: [['Valider', "mission"], ['Refuser', "admin_validation"]],
              required: true %>
        <%= f.input :admin_validation_date, as: :hidden, input_html: {value: Date.today} %>
        <%= f.input :active, as: :hidden, input_html: {value: false} %>
        <%= f.simple_fields_for :comments, @comment do |c| %>
          <%= c.input :content, label: "Message", wrapper_html: {class: "position-relative"} %>
        <% end %>
        <%= f.submit %>
      <% end %>
    <% when "mission" %>
      <div class="mb-40">
        <h6>Cette mission a été validée !</h6>
        <p class="mb-20">Message : <%= @candidacy.admin_validation_message %></p>
        <h6 class="mb-10">Retrouvez les informations relatives à la mission ici :</h6>
        <% if @candidacy.mission.present? %>
          <%= link_to "Editer", company_admin_mission_path(@candidacy.mission), class:"button btn-main-color" %>
        <% else %>
          <%= link_to "Créer", new_company_admin_candidacy_mission_path(@candidacy), class:"button btn-main-color" %>
        <% end %>
      </div>
    <% end %>

  <% else %>
    <div class="mb-40">
      <h6>Cette mission a été refusée à votre salarié pour la raison suivante :</h6>
      <p><%= @candidacy_on_record.current_comment.content if @candidacy_on_record.current_comment.present? %></p>
    </div>
    <p>Veuillez nous contacter si vous souhaitez réévaluer la demande</p>
  <% end %>

</div>
