<%= render partial: "company_admin/shared/demands_tabs" %>

<div class="d-flex">
  <%= render partial: "summary" %>
  <div class="ml-40 w-100 max-w-500">
    <div class="w-100">
      <div class="mb-20">
        <h5 class="text-main mb-10">Demande réfusée</h5>

        <table>
          <tbody>
            <tr>
              <th class="pr-20">Début</th>
              <td><%= @candidacy.req_start_date&.strftime("%d/%m/%Y") %></td>
            </tr>
            <tr>
              <th class="pr-20">Durée</th>
              <td><%= @candidacy.req_days %> jours</td>
            </tr>
            <tr>
              <th class="pr-20">Périodicité</th>
              <td><%= @candidacy.req_periodicity %></td>
            </tr>
            <tr>
              <th class="pr-20">Objet</th>
              <td><%= @candidacy.req_description %></td>
            </tr>
          </tbody>
        </table>
      </div>

        <div class="mb-40">
          <h6>Motif du refus :</h6>
          <p><i>"<%= @candidacy_on_record.current_comment.content if @candidacy_on_record.current_comment.present? %>"</i></p>
        </div>
        <p>Veuillez nous contacter si vous souhaitez réévaluer la demande</p>
    </div>
  </div>
</div>
