<% init_display = 'd-none' unless @candidate.employed? %>

<%= simple_form_for(@candidate, html: {'data-progress-target': "form1"}) do |f| %>

  <div class="flex-resp custom-label">
    <label for="" class="inline-label me-3">Situation :</label>
    <%= f.input :status,
                collection: [['ft_employee', 'Salarié.e temps plein'], ['pt_employee', 'Salarié.e temps partiel'], ['freelance', 'Indépendant.e'], ['inactive', 'Sans activité']],
                label_method: :last,
                value_method: :first,
                as: :radio_buttons,
                input_html: {data: {action: 'change->progress#hide'}},
                item_wrapper_class: "radio-button-ctn" %>
  </div>

  <%= f.input :employer_name,
        label: 'Employeur',
        label_html: {class: 'custom-label-lg mb-0 flex-width-150 me-3'},
        wrapper_html: {class: "flex-resp align-items-center full-width #{init_display}", data: {'progress-target': 'company'}} %>

  <%= f.input :linkedin_url,
              label: "Page LinkedIn",
              label_html: {class: 'custom-label-lg mb-0 flex-width-150 me-3'},
              wrapper_html: {class: 'flex-resp align-items-center full-width'} %>

  <div class="flex-resp custom-label mb-3">
    <label for="candidate_phone_num" class="me-3 flex-width-150">Téléphone :</label>
    <%= f.input :phone_num, label: false, wrapper_html: {class: 'full-width'} %>
  </div>

  <div class="flex-resp align-items-center custom-label mb-3">
    <label for="candidate_cv" class="me-3 inline-label">CV :</label>
    <%= f.input :cv,
                as: :file,
                input_html: { class: 'd-none', data: {'progress-target': 'cv', action: 'change->progress#cv'}},
                label: ('<i class="fa-regular fa-file mb-0 me-2"></i>Fichier').html_safe,
                label_html: { class: 'upload'} %>

    <p class="sm-thin-text grey-color ms-2" data-progress-target="cvmsg">
      <% if @candidate.cv.attached? %>
        ton CV est en ligne
      <% end %>
    </p>

  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="button btn-flag-color" data-action="click->progress#step2">Suivant</button>
  </div>

<% end %>
