<%= simple_form_for([offer, candidacy], html: {'data-progress-target': "form2"}) do |f| %>

  <% if user_signed_in? %>
    <% if !current_user.candidate.nil? %>
      <% display = "d-none" unless current_user.candidate.status == "ft_employee" || current_user.candidate.status == "pt_employee" %>
    <% end %>
  <% end %>

  <div data-progress-target="foremployees" class="d-none">
    <%= f.input :employer_name,
                label: 'Votre employeur actuel' %>

    <%= f.input :employer_aware,
                input_html: { class: "toggle" },
                wrapper_html: { class: "div-align position-relative" },
                label: 'Votre employeur est-il au courant de votre démarche ?' %>

    <div class="mb-3 d-flex justify-content-between" data-controller="slider" data-slider-type="custom">
      <%= f.label "Pensez-vous qu'il soutienne votre démarche ?" %>
      <div>
        <%= f.input_field :employer_ok_chance,
                          as: :range,
                          class: "slider",
                          min: 1,
                          max: 5,
                          value: 3,
                          'data-slider-target': "input",
                          'data-action': "input->slider#update" %>
        <p class="text-end" ><span data-slider-target="output">-</span></p>
      </div>
    </div>
  </div>

  <div class="mb-3 d-flex justify-content-between" data-controller="slider" data-slider-type="standard">
    <%= f.label 'A quelle fréquence souhaiteriez-vous travailler ?' %>
    <div>
      <%= f.input_field :half_days_wish,
                        as: :range,
                        class: "slider",
                        min: offer.active? ? offer.half_days_min : 1,
                        max: offer.active? ? offer.half_days_max : 10,
                        'data-slider-target': "input",
                        'data-action': "input->slider#update" %>
      <p class="text-end" ><span data-slider-target="output">-</span> demi-j / sem</p>
    </div>
  </div>

  <%= f.input :motivation_msg,
              label: "Quelques mots sur votre motivation ?" %>

  <% id = !user_signed_in? || current_user.candidate.nil? ? 'nil' : current_user.candidate.id %>

  <div class="d-flex justify-content-end">
    <button class="button btn-light-flag me-2" data-action="click->progress#back1">Retour</button>
    <button type="submit" class="button btn-flag-color" data-offer="<%= offer.id %>" data-candidate="<%= id %>" data-progress-target="next" data-action="click->progress#step3">Suivant</button>
  </div>

<% end %>
