<div class="ctn top-mg">

  <h2>Modifier les informations de 'offre</h2>
  <%= link_to "Retour à l'offre", offers_path(@offer) %>

  <div>
    <%= simple_form_for([@beneficiary, @offer]) do |f| %>
      <%= f.input :title %>
      <%= f.input :location %>
      <%= f.input :half_days_min %>
      <%= f.input :half_days_max %>
      <%= f.input :months_min %>
      <%= f.input :months_max %>
      <%= f.input :monthly_gross_salary %>
      <%= f.input :status, collection: ['active', 'upcoming', 'old'] %>
      <%= f.input :publish, as: :boolean %>
      <%= f.input :description, as: :rich_text_area %>
      <div class="d-flex">
        <%= link_to "Retour", offer_path(@offer), class: "button btn-light-main me-2" %>
        <button type="submit" class="button btn-main-color">Enregistrer</button>
      </div>
    <% end %>
  </div>

</div>
