<% content_for :title, "Le blog de Demain" %>
<% content_for :description, "Retrouvez tous nos articles. On y parle sans langue de bois du turfu du monde du travail, de gentilles entreprises et de l'urgence de de bosser pour l'intérêt général avant que ce soit trop tard !" %>

<div class="white-wrapper-narrow-content">
  <div class="mb-5">
    <h1 class="d-none">Demain Works : un blog sur le mécénat de compétences, les associations et le "Future of Work"</h1>
    <h2 class="center-text text-main mb-5 mt-5">Le blog de <span class="stress">Demain</span> 🙌</h2>

    <h5 class="center-text mb-3">Retrouvez toutes nos publications</h5>
    <h6 class="center-text">On y parle du futur du travail, de gentilles entreprises et de l'urgence de de bosser pour l'intérêt général avant qu'il ne soit trop tard 🤯</h6>
  </div>

  <div class="row desktop-only early-resp-900">
    <div class="d-flex p-4">
      <% bg_img = cl_image_path((@last_post.photo.attached? ? @last_post.photo.key : '../default_banner_bg.jpg'), transformation: {width: 500, crop: "limit"}, alt: "Future of work")%>
      <%= link_to(post_path(slug: @last_post.slug), class: "me-5") do %>
        <div class="full-width upper-post-card upper-post-card-xl d-flex align-items-center" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('<%= bg_img %>')" >
          <h4 class="text-white full-width pt-3 pb-3 me-5 ms-5 center-text"><%= @last_post.title %></h4>
          <% unless @last_post.category_list.blank? %>
            <h6><%= @last_post.category_list[0] %></h6>
          <% end %>
          <span><%= @last_post.published_ago %></span>
        </div>
      <% end %>
      <div class="full-width lower-post-card-xl">
        <div>
          <p><%= @last_post.content.to_plain_text.truncate(1250, omission: '') %></p>
          <div class="d-flex justify-content-end align-items-end">
            <%= link_to(post_path(slug: @last_post.slug), class: "button-round btn-light-main pe-3 ps-3 pt-2 pb-2") do %>
              <i class="fa-solid fa-arrow-right-long me-2"></i><strong>lire l'article</strong>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <h5 class="center-text mt-5">Nos articles précédents</h5>
  </div>

  <div class="row mt-3">
    <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12 ps-4 pe-4 mobile-only">
      <% bg_img = cl_image_path((@last_post.photo.attached? ? @last_post.photo.key : '../default_banner_bg.jpg'), transformation: {width: 500, crop: "limit"}, alt: "Future of work")%>
      <%= link_to(post_path(slug: @last_post.slug)) do %>
        <div class="post-card">
          <div class="upper-post-card upper-post-card-sm" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('<%= bg_img %>')" >
            <% unless @last_post.category_list.blank? %>
              <h6><%= @last_post.category_list[0] %></h6>
            <% end %>
            <span><%= @last_post.published_ago %></span>
          </div>
          <div class="lower-post-card lower-post-card-sm">
            <h5 class="text-main mb-2"><%= @last_post.title %></h5>
            <p><%= @last_post.content.to_plain_text.truncate(200, omission: '') %></p>
            <div class="d-flex justify-content-end align-items-center">
              <i class="fa-solid fa-arrow-right-long me-2"></i><strong>lire l'article</strong>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <% @posts.each do |post| %>
      <div class="col-xxl-4 col-lg-6 col-md-6 col-sm-12 ps-4 pe-4">
       <% bg_img = cl_image_path((post.photo.attached? ? post.photo.key : '../default_banner_bg.jpg'), transformation: {width: 500, crop: "limit"}, alt: "Future of work")%>
        <%= link_to(post_path(slug: post.slug)) do %>
          <div class="post-card">
            <div class="upper-post-card upper-post-card-sm" style="background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('<%= bg_img %>')" >
              <% unless post.category_list.blank? %>
                <h6><%= post.category_list[0] %></h6>
              <% end %>
              <span><%= post.published_ago %></span>
            </div>
            <div class="lower-post-card lower-post-card-sm">
              <h5 class="text-main mb-2"><%= post.title %></h5>
              <p><%= post.content.to_plain_text.truncate(200, omission: '') %></p>
              <div class="d-flex justify-content-end align-items-center">
                <i class="fa-solid fa-arrow-right-long me-2"></i><strong>lire l'article</strong>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex-resp justify-content-center align-items-center mt-5" data-controller="contact">
    <h6 class="text-main m-2 center-text">Restez informé·e de nos actus : </h6>
    <a class="button btn-main-color" href="" data-action="click->contact#popup">Inscription</a>
    <%= render partial: "pages/contact" %>
  </div>
</div>
