<% content_for :title, "Demain | #{@post.title}" %>
<% content_for :description, @post.content.to_plain_text.truncate(300) %>
<% content_for :structured_data, @post.structured_data(cl_image_path @post.photo.key) %>

<div class="white-wrapper-narrow-content">
  <h1 class="center-text primary-text-color mb-5 mt-5">Le blog de <span class="stress">Demain</span> 🙌</h1>

  <div class="full-width post-ctn">
    <%= @post.photo.attached? ? cl_image_tag(@post.photo.key, alt: "illustration de #{@post.title}") : image_tag('bannerbg.jpg', alt: "illustration de #{@post.title}") %>
    <h2 class="primary-text-color bold-7 mt-3 mb-2"> <%= @post.title %></h2>
    <h6 class="mb-5"><%= @post.published_ago %></h6>
    <div class="post-body">
      <%= @post.content %>
    </div>
    <div class="d-flex full-width justify-content-center">
      <%= link_to 'Retour', blog_path, class: "button btn-light-flag mt-5" %>
    </div>
  </div>

  <div class="flex-resp justify-content-center align-items-center mt-5" data-controller="contact">
    <h6 class="primary-text-color m-2 center-text">Pour rester informé·e de nos actus : </h6>
    <a class="button btn-flag-color" href="" data-action="click->contact#popup">Inscription</a>
    <%= render partial: "pages/contact" %>
  </div>
</div>
