<div class="tenant-modal" data-popup-target="window" data-action="click->popup#close" data-pop-up-id="1" data-active=<%=@error && @candidacy.active%>>
  <div>
    <div class="p-20 shadow-md" data-action="click->popup#keep">
      <div class="flex-center-between w-100">
        <h5 class="text-main fw-7">Confirmer</h5>
        <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
          <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
        <% end %>
      </div>
      <h6 class="mb-20">Formuler votre demande auprès de <%= current_user.company.name %></h6>


      <%= simple_form_for(@candidacy, data: {turbo: false}) do |f| %>
        <%= f.input :status, as: :hidden, input_html: {value: :user_validation} %>

        <table class="w-100 mb-10">
          <tbody data-controller="dynamic-form">
            <tr class="position-relative">
              <th class="fw-5 pr-20">Titre</th>
              <td><%= f.input :title, input_html: {value: "#{@candidacy.beneficiary.name} - #{@candidacy.offer.title}"}, wrapper: false, label: false %></td>
            </tr>
            <tr class="position-relative" data-controller="flatpickr">
              <th class="fw-5 pr-20 pt-15">Date de début ciblée</th>
              <td class="pt-15"><%= f.input :req_start_date, as: :string, input_html: { data: { flatpickr_target: "date" }, class: "w-100" }, wrapper: false, label: false %></td>
            </tr>
            <tr class="position-relative">
              <th class="fw-5 pr-20 pt-15">Nombre de jours</th>
              <td class="pt-15"><%= f.input :req_days, label: false, wrapper: false %></td>
            </tr>
            <tr class="position-relative">
              <th class="fw-5 pr-20 pt-15">Fréquence</th>
              <td class="pt-15"><%= f.input :req_periodicity, label: false, wrapper: false, collection: Candidacy::PERIODICITY, selected: @selected_periodicity,
                                            input_html: {data: {dynamic_form_target: "customTrigger", action: "change->dynamic-form#customToggle", trigger: "Autre (préciser)"}} %></td>
            </tr>
            <tr data-dynamic-form-target="customOutput" class="d-none">
              <th></th>
              <td><%= f.input :custom_periodicity, input_html: {value: @candidacy.req_periodicity}, label: false, placeholder: 'Indiquez les modalités' %></td>
            </tr>
          </tbody>
        </table>
        <div class="position-relative">
          <h6 class="mb-05">Contenu de la mission</h6>
          <%= f.input :req_description, label: false, input_html: {value: @candidacy.offer.summary.to_plain_text} %>
        </div>
        <%= f.simple_fields_for :comments, Comment.new do |c| %>
          <%= c.input :content, as: :hidden, input_html: {value: "Je souhaite candidater à une mission pour aider #{@candidacy.beneficiary.name}"} %>
        <% end %>

        <button type="submit", class="w-100 button round bg-main-to-dark text-white bn-none">
          <i class="fa-regular fa-paper-plane mr-10"></i>
          Envoyer ma demande RH
        </button>
      <% end %>

    </div>
  </div>
</div>
