<h5 class="fw-7 text-main mb-30">Candidatures</h5>

<div class="d-flex">
  <%= render partial: "summary" %>
  <div class="ml-40 w-100 max-w-400">
    <div class="w-100" data-controller="popup">

      <div class="mb-20">
        <h6 class="text-main mb-10 fw-7">Vos messages</h6>
        <%= render partial: "messages" %>
      </div>

      <div class="mb-40">
        <h6 class="text-main mb-10 fw-7">Et maintenant ?</h6>
        <%= render partial: "notice" %>

        <% if current_user.eligibility_on_going? %>
          <% if @candidacy_on_record.beneficiary_validation_status? %>
            <div class="w-100 flex-center-between pr-30 pl-30 mt-20">
              <%= link_to "Accepter","", class: "button w-100 bg-flag-3 mr-10 text-white", data: {pop_up_id: 1, action: "click->popup#open"} %>
              <%= link_to "Rejeter","", class: "button w-100 bg-flag-2 ml-10 text-white", data: {pop_up_id: 2, action: "click->popup#open"} %>
            </div>
            <%= render partial: "accept" %>
            <%= render partial: "reject" %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
</div>
