<%= turbo_frame_tag "edit" do %>
  <div class="tenant-modal" data-controller="popup" data-popup-target="window" data-action="click->popup#close" data-pop-up-id="1" data-active="true">
    <div>
      <div class="p-20 shadow-md" data-action="click->popup#keep">
        <div class="flex-center-between w-100">
          <h5 class="text-main fw-7">Editer</h5>
          <%= link_to "", data: {action: "click->popup#close", popup_target: "close"} do %>
            <i class="fs-18 fa-solid fa-circle-xmark text-main"></i>
          <% end %>
        </div>
        <div class="mb-20 w-100">
          <h6 class="mb-10">Modifier les informations de l'utilisateur</h6>
        </div>

        <%= simple_form_for(@whitelist, url: company_admin_whitelist_path(@whitelist), action: :update, data: {turbo: false}) do |f| %>
          <table class="w-100 mb-05">
            <tbody>
              <tr class="position-relative">
                <th class="fw-5 pr-20">Email</th>
                <td><%= @whitelist.email %></td>
              </tr>
              <tr class="position-relative">
                <th class="fw-5 pr-20">Prénom</th>
                <td><%= f.input :first_name, label: false, wrapper: false %></td>
              </tr>
              <tr class="position-relative">
                <th class="fw-5 pr-20">Nom</th>
                <td><%= f.input :last_name, label: false, wrapper: false %></td>
              </tr>
              <tr class="position-relative">
                <th class="fw-5 pr-20">Intitulé de poste</th>
                <td><%= f.input :title, label: false, wrapper: false  %></td>
              </tr>
              <tr class="position-relative">
                <th class="fw-5 pr-20">ID Interne</th>
                <td><%= f.input :custom_id, label: false, wrapper: false %></td>
              </tr>
            </tbody>
          </table>
          <div class="position-relative">
            <%= f.input :pre_approval, as: :boolean, label: "Eligibile au dispositif ?", input_html: {id: "whitelist_pre_approval_#{@whitelist.id}", class: "toggle"} %>
          </div>
          <button type="submit", class="w-100 button round bg-main-to-dark text-white bn-none">
            <i class="fa-solid fa-floppy-disk mr-10"></i>
            Enregistrer les modifications
          </button>
        <% end %>
        <div class="w-100 mt-10">
          <%= button_to company_admin_whitelist_path(@whitelist), method: :delete, class: "center-text d-block border-grey text-main fw-5 w-100 bg-none bn-none", form: { data: { turbo: true, controller: 'form-redirect', action: 'turbo:submit-end->form-redirect#next', turbo_confirm: "Cette personne ne pourra plus se connecter ni s'inscrire. Aucune notification ne lui sera envoyée. Êtes-vous sûr.e de vouloir révoquer cet accès ?" } } do %>
              <i class="fa-solid fa-ban mr-10"></i>Révoquer cette invitation
          <% end %>
        </div>

      </div>
    </div>
  </div>
<% end %>
