<%= render partial: "company_admin/shared/users_tabs", locals: {active: 1} %>

<div class="mb-40" data-controller="search-form">
  <div class="flex-center-between mb-10" data-controller="popup">
    <div class="flex-center-left">
      <h6 class="text-grey mr-20">xxxx</h6>
      <%= form_tag(request.path, method: :get, data: {turbo_frame: "list", search_form_target: 'form'}) do %>
          <div class="position-relative input-with-icon">
            <i class="fa-solid fa-magnifying-glass text-main position-absolute"></i>
            <%= text_field_tag( :query, nil, class: "input-form", placeholder: 'Rechercher un collaborateur', data: {action: 'keyup->search-form#result'}) %>
          </div>
        <%= submit_tag "", hidden: "true", data: { search_form_target: 'submitbtn' } %>
      <% end %>
    </div>
    <div class="min-w-200 flex-center-right">
      <%= link_to "+ Inviter des collaborateurs", "#", class: "fs-15 button-tight round bg-main-to-dark hover-2 text-white", data: {pop_up_id: 1, action: "click->popup#open"} %>

    </div>
    <%= render partial: "form" %>
  </div>
  <%= form_tag( destroy_company_admin_whitelists_path, method: :patch, data: {controller: "multi-select", action: "change->multi-select#toggle", turbo_confirm: "Cette personne ne pourra plus s'inscrire ou se <connecter></connecter>. Aucune notification ne lui sera envoyée. Êtes-vous sûr.e de vouloir révoquer cet accès ?"} ) do %>
    <%= turbo_frame_tag "list" do %>
      <table class="list-table w-100 max-w-1000">
        <thead>
          <th class="pb-10">Nom <%= render partial: "filter_btn", locals: {filter: :last_name} %></th>
          <th class="pb-10">Email <%= render partial: "filter_btn", locals: {filter: :input_format} %></th>
          <th class="pb-10">Role <%= render partial: "filter_btn", locals: {filter: :role} %></th>
          <th class="no-wrap pb-10">ID Custom <%= render partial: "filter_btn", locals: {filter: :custom_id} %></th>
          <th class="text-center pb-10">Inscrit ?</th>
          <th class="text-center pb-10">Eligibilité</th>
          <th class="text-center p-0">
            <button type="submit" class="pb-10 pl-05 pr-15 bn-none bg-white text-flag-2" disabled data-multi-select-target="submit">
              <i class="fa-solid fa-ban"></i>
            </button>
          </th>
        </thead>
        <tbody>
          <% @whitelists.where(input_type: :email).each do |whitelist| %>
            <% resource = whitelist.user ? whitelist.user : whitelist %>
            <tr>
              <td class="fw-5 text-main no-wrap pr-10"><%= link_to "#{resource.last_name}, #{resource.first_name}", resource.class == User ? edit_company_admin_user_path(resource) : edit_company_admin_whitelist_path(resource), class: "text-main fw-5", data: {turbo_frame: "edit"} %></td>
              <td class="pr-10"><%= resource.email %></td>
              <td class="pr-10"><%= whitelist.role %></td>
              <td><%= resource.custom_id %></td>
              <td class="text-center">
                <% if whitelist.user %>
                  <i class="fa-solid fa-circle-check text-flag-3"></i>
                <% end %>
              </td>
              <td class="text-center">
                ...
              </td>
              <td class="pl-10 pr-10">
                <%= check_box_tag "destroy[]", whitelist.id, false, data: {multi_select_target: "checkbox"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  <% end %>
  <%= turbo_frame_tag "edit" %>
</div>
