<%= render partial: "company_admin/shared/users_nav", locals: {active: 1} %>

<div class="d-flex">
  <div class="max-w-300 mb-40 mr-40">
    <h5 class="mb-10">Domaines autorisés</h5>
    <p class="mb-10">Noms de domaines autorisés pour créer un compte utilisateur <strong class="fw-6 text-main"><%= current_user.company.name %></strong> :</p>
    <div class="mb-20">
    <% @whitelists.where(input_type: "domain").each do |w| %>
      <div class="flex-center-between mb-05">
        <p class="fw-5"><%= w.input_format %></p>
        <% if w.catch_all %>
          <i class="fa-solid fa-users text-flag-3"></i>
        <% else %>
          <i class="fa-solid fa-user text-flag-1"></i>
        <% end %>
      </div>
    <% end %>
    </div>
    <div>
      <i class="mb-05 fs-13">Autorisations :</i>
      <div class="flex-center-left">
      <p class="fs-13 mr-20"><i class="fa-solid fa-users text-flag-3 min-w-20"></i>Tous les emails</p>
      <p class="fs-13"><i class="fa-solid fa-user text-flag-1 min-w-20"></i>Email par email</p>
      </div>
    </div>
  </div>


  <div class="max-w-750 mb-40" data-controller="hidden-form">
    <div class="flex-center-between">
      <div>
        <h5 class="mb-10">Adresses autorisées</h5>
        <p class="mb-10">Autorisation de créer un compte accordée aux personnes dont l'adresse email professionnelle principale figure parmi :</p>
      </div>
      <div class="min-w-200 flex-center-right">
        <%= link_to "Ajouter", "" , class: "ml-20 button btn-main-color #{"d-none" if response.status == 422}", data: {hidden_form_target: "output", action: "click->hidden-form#edit"}%>
        <%= link_to "Annuler", "" , class: "ml-20 button btn-light-main #{"d-none" unless response.status == 422}", data: {hidden_form_target: "input", action: "click->hidden-form#cancel"}%>
      </div>
    </div>

    <table class="list-table w-100 max-w-750">
      <thead>
        <th></th>
        <th>adresse</th>
        <th>id interne</th>
        <th class="text-center">pré-validé</th>
        <th class="text-center">inscrit.e</th>
      </thead>
      <tbody>
        <tr data-hidden-form-target="input" class=<%= "d-none" unless response.status == 422 %>>
          <%= simple_form_for(@whitelist, url: company_admin_whitelists_path) do |f| %>
            <th class="pr-10"></th>
            <td class="position-relative"><%= f.input :input_format, label: false, wrapper: false, input_html: {class: "embedded bg-white"} %></td>
            <td><%= f.input :input_custom, label: false, wrapper: false, input_html: {class: "embedded bg-white"} %></td>
            <td><div class="position-relative"><%= f.input :pre_approval, wrapper: false, input_html: {class: "toggle centered"}  %></div></td>
            <td></td>
            <td><button type="submit" class="bn-none w-100 h-100" data-turbo="false"><i class="fa-solid fa-floppy-disk text-main"></i></button></td>
          <% end %>
        </tr>
        <% @whitelists.where(input_type: "email").each do |w| %>
          <tr>
            <th class="pr-10">></th>
            <td><%= w.input_format %></td>
            <td><%= w.input_custom %></td>
            <td class="text-center">
              <% if w.pre_approval %>
                <i class="fa-solid fa-circle-check text-flag-3"></i>
              <% end %>
            </td>
            <td class="text-center">
              <% if w.user_attached? %>
                <i class="fa-solid fa-circle-check text-flag-3"></i>
              <% end %>
            </td>
            <td>
              <% if !w.user_attached? %>
                <%= link_to company_admin_whitelist_path(w), data: {turbo_method: :delete, turbo_confirm: "Sûr.e de vouloir supprimer ??"} do %>
                  <i class="fa-solid fa-trash text-main ms-3 me-1"></i>
                <% end %>
              <% end %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>


  </div>
</div>
