<!DOCTYPE html>
<html>
  <head>
    <title>Twlandingv02</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-image: url('<%= image_path "bg2.png" %>')" data-controller="modal">
    <%= render partial: "menu" %>
    <div class="min-height-wrap">
      <%= yield %>
    </div>
    <% if flash.any? %>
      <% flash.each do |notice, msg| %>
      <div>
      <p class="notice"><%= msg %></p>
      </div>
      <% end %>
    <% end %>
    <%= render partial: "contact" %>
    <%= render partial: "footer" %>

  </body>
</html>
